<div class="fixed-overlay ">
   <div class="close-popup" (click)="popupService.toggleLoginPopup()"></div>
   <div class="popup">

      <div class="login-registration_tabs">
         <div class="login-tab active">личный кабинет</div>
         <div class="registration-tab" [routerLink]="['/registration']" >зарегистрироваться</div>
      </div>
      
      <div class="popup-container">
         <form class="new-form" [formGroup]="form" (ngSubmit)="logIn()">

            <div class="line">
               <label>
                  <input name="email" [ngClass]="{filled: password.value}" type="text" formControlName="email">
                  <span class="title">email</span>
                  <div class="validation-errors" *ngIf="email.invalid && (email.dirty || email.touched) || requiredErr">
                     <span class="note err" *ngIf="email.errors?.['required']">*необходимо заполнить</span>
                  </div>
               </label>
            </div>
            <div class="line">
               <label>
                  <input name="password" [ngClass]="{filled: password.value}" [type]="popupService.passwordsHidden ? 'password' : 'text'" formControlName="password">
                  <span class="title">password</span>
                  <div class="reveal-eye" (mousedown)="popupService.revealPass()" (mouseleave)="popupService.hidePass()" (mouseup)="popupService.hidePass()"></div>
                  <div class="validation-errors" *ngIf="password.invalid && (password.dirty || password.touched) || requiredErr">
                     <span class="note err" *ngIf="password.errors?.['required']">*необходимо заполнить</span>
                     <span class="note err" *ngIf="password.errors?.['minlength']">*6 символов минимум</span>
                  </div>
               </label>
            </div>
            <a class="foggot-pass-link" href="#" (click)="popupService.toggleLoginAndPass()">Забыли пароль?</a> 
            
            <!-- <div class="inputs-wrapper">
               <label><span>Email</span><input name="email" type="text" formControlName="email"></label>
               <label><span>Пароль</span><input name="password"  type="password" formControlName="password"></label>
               <div class="foggot-pass-wrapper">
                  <a class="foggot-pass-link" href="#" (click)="popupService.toggleLoginAndPass()">Забыли пароль?</a> 
               </div>
            </div> -->
            <div class="serverErrorMessage" *ngIf="serverErrMessage" >{{serverErrMessage}}</div>
            <div class="serverErrorMessage" *ngIf="accessErrMessage" >{{accessErrMessage}}</div>
            <button [disabled]="loggingIn" class="login" type="submit">Войти</button>
         </form>
      </div>
   </div>
</div>
