<div class="specialist-card" #cardEl 
[ngClass]="{'card_active': active}">
   <div class="specialist-card__image_wrapper">
      <img *ngIf="card.avatarUrl" class="specialist-card__photo" [src]="card.avatarUrl" alt="person photo">
      <img *ngIf="!card.avatarUrl" class="specialist-card__photo" [src]="defaultAvatarUrl" alt="person photo">
   </div>
   <div class="specialist-card__name">{{card.name}} {{card.surname}}</div>
   <div class="specialist-card__specialization">{{card.mainSpecialization}}</div>
   <!-- <div class="specialist-card__description">{{card.aboutMe | slice:0:65}}</div> -->
   <div *ngIf="card.aboutMe" class="specialist-card__description">{{card.aboutMe | textCutter:60}}</div>

   <!-- <div class="specialist-card__experience">Стаж (лет): {{card.experience}}</div> -->
   <div class="specialist-card__details">
      <a [routerLink]="['/doctor']" [queryParams]='{id: encryptedId, returnToProfileModule: isProfileModule}' >Подробнее ></a>
   </div>
</div>