@import "../../../../assets/styles/_variables"
   
.day-inner
   position: relative
   width: 100%
   height: 100%
   background-color: $grey_light
   border: 1px solid #000
   color: #fff
   span
      font-weight: 400   
      font-size: 22px
   &.today
      border: 3px solid $orange_common
      span
         // font-weight: 500
   &.work-day //рабочий день
      background-color: #fff
      color: #454A4A
   &.day-choosen //рабочий день
      box-sizing: border-box
      background-color: $orange_common
      box-shadow: 0px 3px 5px #000
      border: 1px solid $orange_common
      font-weight: 600
      transform: scale(1.05)
      span
         color: #fff
         
   span
      display: block
      position: absolute
      top: 50%
      left: 50%
      transform: translate(-50%, -50%)
      font-size: 3vw