<div class="day-inner" 
[ngClass]="{'today': (todayDay == dayIndex && month == currentMonth && year == currentYear), 
            'work-day': (isCalendarPage && userData.myData.userType == 'client') 
         || (scheduleHoursInput && scheduleHoursInput[year] && scheduleHoursInput[year][month] && scheduleHoursInput[year][month][dayIndex]), 
            'day-choosen': selectedDay == dayIndex, 
            'lesson': (isCalendarPage && userData.myData.ordersFutureDates && userData.myData.ordersFutureDates[year] && userData.myData.ordersFutureDates[year][month] && userData.myData.ordersFutureDates[year][month][dayIndex]), 
            'lesson-old': (isCalendarPage && userData.myData.ordersFutureDates && userData.myData.ordersFutureDates[year] && userData.myData.ordersFutureDates[year][month] && userData.myData.ordersFutureDates[year][month][dayIndex] && todayDay > dayIndex )
            }" >
            <!--  && scheduleHoursInput && scheduleHoursInput[year] && scheduleHoursInput[year][month] && scheduleHoursInput[year][month][dayIndex] -->
   <span>{{dayIndex}}</span>
   <!-- <button (click)="testDay()">tst</button> -->
   <!-- {{scheduleHoursInput[year] | json}} -->
   <!-- <div class="help">
      <span>{{dayIndex}}-{{month}}-{{year}}</span>
   </div> -->
   
</div>
