<div class="fixed-overlay ">
   <div class="close-popup" (click)="popupService.toggleHoPgClientPopup()"></div>
   <div class="popup">

      
      <div class="popup-container">
         <h2>Вопросы по записи</h2>
         <form [formGroup]="form" class="feedback" (ngSubmit)="submit()">
            <div class="inputs-wrapper">
               <label><span>Имя</span><input name="email" type="text" placeholder="Ваше имя" formControlName="name"></label>
               <label><span>Фамилия</span><input name="surname"  type="text" placeholder="Фамилия" formControlName="surname"></label>
               <label><span class="narrow">Дата рождения ребенка</span><input name="dob"  type="date" formControlName="dob"></label>
               <label><span>Email</span><input name="email" type="text" placeholder="email@email.com" formControlName="email"></label>
               <label><span>Телефон</span><input name="phone"  type="text" placeholder="" formControlName="phone"></label>
               <label class="textarea-wrap"><span>Вопрос</span><textarea name="question" placeholder="Опишите любой ваш вопрос" rows="10" formControlName="question"></textarea></label>
            </div>
            <div class="rules">
               <div class="terms-of-use">
                  <!-- <label>
                     <input name="termsOfUse"   type="checkbox" formControlName="termsOfUse">
                     <span>Подтверждаю согласие на <a class="show-rules" (click)="popupService.goToTerms()">обработку персональных данных</a></span>
                  </label> -->
                  <div class="agreement">Нажимая "отправить", вы соглашаетесь с 
                     <a class="show-rules" (click)="popupService.goToTerms()">пользовательским соглашением и обработкой персональных данных</a>
                  </div>
               </div>
            </div>
            <div class="serverErrorMessage" *ngIf="ErrMessage" >{{ErrMessage}}</div>
            <button [disabled]="isSendingData" [ngClass]="{submitted: submitted}" type="submit">Отправить</button>
         </form>
      </div>
   </div>
</div>
