<div class="fixed-overlay ">
   <div class="close-popup" (click)="popupService.toggleRequisitesPopup()"></div>
   <div class="popup">

      
      <div class="popup-container">
         <div class="requisites">
            В обязательные реквизиты компании входят:
            <ul>
               <li>Наименование организации</li>
               <li>ОГРН</li>
               <li>ИНН</li>
               <li>КПП (для Юридических лиц)</li>
               <li>Юридический адрес (В случае ИП – адрес места регистрации Предпринимателя)</li>
               <li>ОКПО</li>
               <li>ОКВЭД (может входить в реквизиты, как показатель основного вида деятельности организации)</li>
            </ul>
         </div>
      </div>

   </div>
</div>