<div class="specialists">
   <div class="container">
      <h2 class="specialists__header">Наши специалисты</h2>
      <div class="specialists__filters">
         <div class="filters_title">Фильтры</div>
         <form class="specialists__form ">
            <select class="form__selector form__selector_specialization" 
            name="specialization" #specializationSelector (change)="onSpecializationChange(specializationSelector)">
               <option value="">Специализация</option>
               <option value="">Все</option>
               <option value="Логопед">Логопед</option>
               <option value="Дефектолог">Дефектолог</option>
               <option value="Логопед-дефектолог">Логопед-дефектолог</option>
            </select>
            <select class="form__selector form__selector_diagnosis" name="diagnosis">
               <option value="">Диагноз</option>
               <option value="light">Легкая форма</option>
               <option value="middle">Средняя форма</option>
               <option value="hard">Тяжелая форма</option>
               <option value="notKnown">Не установлено</option>
            </select>
         </form>
      </div>
      <div class="specialists__catalog">
         <app-specialist-card
         *ngFor="let card of firebaseDoctors | specialistFilter:activeSpecialists"
         [card]="card"
         ></app-specialist-card>
      </div>
      <!-- <div class="new__catalog">
         <div class="doctor"
         *ngFor="let doctor of firebaseDoctors"
         >
            {{doctor.name}}
         </div>
      </div> -->
   </div>
</div>