<div class="debug-block" *ngIf="true">
   <p>selectedDay: {{selectedDay}}</p>
   <p>currentFirstDay: {{currentFirstDay}}</p>
   <p>selectedDayOfWeek: {{selectedDayOfWeek}}</p>
   <p>daysOfWeekShedule: {{daysOfWeekShedule | json}}</p>
</div>
<div class="calendar">
   <div class="calendar-wrapper">
      <div class="calendar-header">
         <div class="arrow arrow-left" id="prev-month-arrow" (click)="decreaseMonth()"></div>
         <div class="month">{{monthName}} {{year}}</div>
         <div class="arrow arrow-right" id="next-month-arrow" (click)="increaseMonth()"></div>
      </div>
      <div class="calendar-body">
         <div class="days-of-week">
            <div *ngFor="let dayName of daysOfWeek" class="day-of-week">
               {{dayName}}
            </div>
         </div>
         <div class="days">
            <div *ngFor="let dayIndex of daysArr; index as i"
               
               class="day">
               <app-calendar-day [dayIndex] = "i+1" [currentFirstDay]="currentFirstDay" 
               [todayDay]="day" [currentMonth]="currentMonth" [month]="month" [year]="year" 
               [currentYear]="currentYear" [selectedDay]="selectedDay" 
               [doctorShedule]="doctorShedule" [daysOfWeekShedule]="daysOfWeekShedule" 
               [doctorsLessons]="doctorsLessons" [isCalendarPage]="isCalendarPage"  
               (outDay)="onOutDay($event)" (click)="onDayClick(i+1)"></app-calendar-day>
            </div>
         </div>
         <!-- isCalendarPage: {{isCalendarPage}}
         month: {{month}} <br>
         начало месяца с: {{currentFirstDay}} <br>
         выбранный день: {{selectedDay+1}} <br>
         выбранный час: {{selectedHourForLesson}} -->
      </div>
   </div>
   <!-- для страницы карточки специалиста (не календарь) -->
   <div class="time-aside time-aside-view" *ngIf="!isCalendarPage">
      <span class="go-to-account-sign" *ngIf='isInProfileModule == "false"'>Для записи к специалисту воспользуйтесь <span class="link" [routerLink]="['/profile/doctors']">личным кабинетом</span></span> 
      <div class="day-not-chosen-sign" *ngIf="selectedDay == -1 || (selectedDay != -1 && !doctorShedule[year][month][selectedDay+1])">
         <div class="time-blocker">
            Выберите рабочий день специалиста
            <div class="example">
               <div class="not-working-color color-example"></div>
               <p> - не рабочие дни специалиста</p>
            </div>
            <div class="example">
               <div class="working-color color-example"></div>
               <p> - рабочие дни специалиста</p>
            </div>
            <div class="example">
               <div class="choosen-day-color color-example"></div>
               <p> - выбранный день</p>
            </div>
         </div>
      </div>
      <!-- карточка доктора-->
      <div class="day-chosen" *ngIf="selectedDay != -1 && doctorShedule && doctorShedule[year] && doctorShedule[year][month] && doctorShedule[year][month][selectedDay+1]">
         <div class="time-selection">
            <div class="time-row" 
            [ngClass]="{'work-hour': doctorShedule && doctorShedule[selectedDayOfWeek], 
                        'selected-hour': selectedHourForLesson == time}"
            *ngFor="let time of workHoursArray; index as i" >
               <div class="time-row-inner" (click)="onClickTimeRow(time)">
                  <div class="period">
                     {{time | timeRow}}
                  </div>
                  <div class="patient" *ngIf="doctorsLessons && doctorsLessons[year] && doctorsLessons[year][month] && doctorsLessons[year][month][selectedDay+1] && doctorsLessons[year][month][selectedDay+1][time]">
                     <!-- {{doctorsLessons[year][month][selectedDay+1][time].name}} -->
                     <div class="busy-sign" *ngIf="doctorsLessons[year][month][selectedDay+1][time].name != (userData.myData.name + ' ' + userData.myData.surname)">
                        Занято
                     </div>
                     <div class="busy-myself-sign" *ngIf="doctorsLessons[year][month][selectedDay+1][time].name == (userData.myData.name + ' ' + userData.myData.surname)">
                        моя запись
                     </div>
                  </div>
               </div>
               
            </div>
         </div>
         <button [routerLink]="['/profile/doctors']" *ngIf='isInProfileModule == "false"'>В личный кабинет</button>
         <button [disabled]="selectedHourForLesson == -1" (click)="makeAnAppointment(year, month, selectedDay+1, selectedHourForLesson)" *ngIf='isInProfileModule == "true"'>Записаться</button>
         <div class="doctor-alert">
         </div>
      </div>
   </div>
   <!-- для страницы календаря (profile/calendar) -->
   <div class="time-aside time-aside-edit" *ngIf="isCalendarPage" [ngClass]="{'downloading': updatingdWorkHourData}">
      <div class="time-aside-doctor" *ngIf="userData.myData.userType == 'doctor'" [ngClass]="{'downloading': updatingdWorkHourData}">
         <div class="day-not-chosen-sign" *ngIf="selectedDay == -1">
            Пожалуйста выберите день
            <div class="time-blocker">
               <div class="example">
                  <div class="not-working-color color-example"></div>
                  <p> - ваши не рабочие дни</p>
               </div>
               <div class="example">
                  <div class="working-color color-example"></div>
                  <p> - ваши рабочие дни</p>
               </div>
               <div class="example">
                  <div class="choosen-day-color color-example"></div>
                  <p> - выбранный день</p>
               </div>
            </div>
         </div>
         <!-- календарь доктора -->
         <div class="time-of-day-chosen" *ngIf="selectedDay != -1">
            Мои часы работы (по Москве):
            <div class="time-selection">
               <div class="time-row" 
               [ngClass]="{'work-hour': daysOfWeekShedule && daysOfWeekShedule[selectedDayOfWeek] && time >= daysOfWeekShedule[selectedDayOfWeek][0] && daysOfWeekShedule[selectedDayOfWeek][1] >= time, 
                           'lesson-appointed': doctorsLessons && doctorsLessons[year] && doctorsLessons[year][month] && doctorsLessons[year][month][selectedDay+1] && doctorsLessons[year][month][selectedDay+1][time]}"
               *ngFor="let time of workHoursArray; index as i" >
                  <div class="time-row-inner" >
                     <div class="period">
                        {{time | timeRow}} 
                     </div>
                     <div class="patient" *ngIf="doctorsLessons && doctorsLessons[year] && doctorsLessons[year][month] && doctorsLessons[year][month][selectedDay+1] && doctorsLessons[year][month][selectedDay+1][time]">
                        {{doctorsLessons[year][month][selectedDay+1][time].name | nameRow}}
                     </div>
                  </div>
               </div>
            </div>
            *чтобы выбрать часы работы - выберите любую строчку
         </div>
      </div>
      <div class="time-aside-client" *ngIf="userData.myData.userType == 'client'">
         <div class="no-lessons-sign" *ngIf="!userData.myData.lessons">
            у вас пока нет занятий
         </div>
         <div class="my-lessons" *ngIf="userData.myData.lessons">
            Предстоящие занятия:
            <div class="lesson-card" *ngFor="let item of userData.myData.lessons | lessonsView:currentYear:currentMonth:day:currentHour">
               <p>
                  {{item.day}}-{{monthsNamesWhomCase[item.month]}}
                  {{item.hour | timeRow}}
                  Специалист: {{item.name}}
               </p>
            </div>
         </div>
      </div>
   </div>
</div>

<div class="change-shedule-block">
   <div class="debug" *ngIf="true">
      <div class="">daysOfWeekShedule:_____{{daysOfWeekShedule | json}}</div>
      <div class="">newDaysOfWeekShedule: {{newDaysOfWeekShedule | json}}</div>
   </div>
   <h3>Настройка моего графика</h3>
   <div class="days-selection-wrapper">
      <div class="days-of-week-selection">
         <div class="days-sign">Выберите удобные для вас дни</div>
         <div class="days-of-week-checkboxes">
            <div class="day-of-week" 
               *ngFor="let item of daysOfWeek; index as i" 
               (click)="changeActiveDaysOfWeek(i)"
               [ngClass]="{active: newDaysOfWeekShedule[i]}">
               <span>{{item}}</span>
            </div>
            
         </div>
         <div class="lesson-duration-description">
            Стандартная продолжительность занятий - 
            <span>40 минут</span>
         </div>
      </div>
      <div class="days-of-week-aside">
         <div class="days-sign">
            Ваше рабочее время
         </div>
         <div class="days-of-week-aside-rows">
            <div class="time-row" 
            *ngFor="let item of daysOfWeek; index as i"
            [ngClass]="{active: newDaysOfWeekShedule[i]}"> 
               <span>{{item}}</span>
               <div class="active-row row-settings" *ngIf="newDaysOfWeekShedule[i]">
                  <div class="row-setting from">
                     <span>{{newDaysOfWeekShedule[i][0]}}</span>  
                     <div class="increase time-setting-button" (click)="changeWorkHour(1, i, 0)"></div>
                     <div class="decrease time-setting-button" (click)="changeWorkHour(-1, i, 0)"></div>
                  </div>
                  <div class="row-setting to">
                     <span>{{newDaysOfWeekShedule[i][1]}}</span>
                     <div class="increase time-setting-button" (click)="changeWorkHour(1, i, 1)"></div>
                     <div class="decrease time-setting-button" (click)="changeWorkHour(-1, i, 1)"></div>
                  </div> 
               </div>
               <div class="disabled-row row-settings" *ngIf="!newDaysOfWeekShedule[i]">не рабочий день</div>
            </div>
         </div>
      </div>
   </div>
   <div class="buttons">
      <button class="cancel" (click)="cancelNewShedule()">
         отмена 
      </button>
      <button class="submit-new-shedule" (click)="sendNewShedule()" [ngClass]="{updating: updatingdWorkHourData}">
         сохранить изменения
      </button>
   </div>
</div>
<!-- UPDATING: {{updatingdWorkHourData}} -->
<!-- {{doctorShedule | json}} -->
