<div class="app-appointment-details-popup" *ngIf="false || popupService.appointmentDeatailsPopup" >
   <app-appointment-details-popup (voted)="makeLessonFromPopup($event)"
   [selectedDay]="selectedDay"
   [selectedTimeForLesson]="selectedTimeForLesson"
   [month]="month"
   [year]="year"
   [monthsNamesWhomCase]="monthsNamesWhomCase"
   [inputDoctorInfo]="inputDoctorInfo"
   ></app-appointment-details-popup>
</div>
<div class="calendar-manual-order-popup" *ngIf="popupService.manualOrderPopup">
   <app-manual-order-popup (voted)="makeLessonFromPopup($event)"></app-manual-order-popup>
</div>

<div class="debug-block" *ngIf="true && !production">
   <p>selectedDay: {{selectedDay}}</p>
   <p>currentFirstDay: {{currentFirstDay}}</p>
   <p>selectedDayOfWeek: {{selectedDayOfWeek}}</p>
   <p>daysOfWeekShedule: {{daysOfWeekShedule | json}}</p>
   <p>selectedHourForLesson: {{selectedHourForLesson}}</p>
   <p>selectedTimeForLesson: {{selectedTimeForLesson}}<p>
   <!-- ----------------------- -->
   <!-- <p>workStart: {{workStart}}</p>
   <p>workEnd: {{workEnd}}</p>   
   <p>currWorkStart: {{currWorkStart}} </p>   
   <p>currWorkEnd: {{currWorkEnd}}</p>    -->
   <!-- <p>weeklySchedule: {{inputDoctorInfo.weeklySchedule | json}}</p> -->
</div>
<!-- {{inputDoctorInfo.scheduleTime | json}} -->
<div class="calendar">
   <div class="calendar-wrapper">
      <div class="calendar-header">
         
         <div class="arrow arrow-left" id="prev-month-arrow" (click)="decreaseMonth()"></div>
         <div class="month">{{monthName}} {{year}}</div>
         <div class="arrow arrow-right" id="next-month-arrow" (click)="increaseMonth()"></div>
      </div>
      <div class="calendar-body">
         <div class="days-of-week">
            <div *ngFor="let dayName of daysOfWeek" class="day-of-week">
               {{dayName}}
            </div>
         </div>
         <div class="days">
            <div class="day" *ngFor="let dayIndex of daysArr; index as i" [id]="'day'+dayIndex">
               <app-calendar-day [dayIndex] = "i+1" [currentFirstDay]="currentFirstDay" 
               [todayDay]="day" [currentMonth]="currentMonth" [month]="month" [year]="year" 
               [currentYear]="currentYear" [selectedDay]="selectedDay" 
               [doctorShedule]="doctorShedule" [daysOfWeekShedule]="inputDoctorInfo.weeklySchedule"
               [scheduleHoursInput]="inputDoctorInfo.scheduleTime" [scheduleHours]="scheduleHours"
               [doctorsLessons]="doctorsLessons" [isCalendarPage]="isCalendarPage"  
               (outDay)="onOutDay($event)" (click)="onDayClick(i+1)"></app-calendar-day>
            </div>
         </div>
         <!-- isCalendarPage: {{isCalendarPage}}
         month: {{month}} <br>
         начало месяца с: {{currentFirstDay}} <br>
         выбранный день: {{selectedDay+1}} <br>
         выбранный час: {{selectedHourForLesson}} -->
      </div>
   </div>
   <!--aside для страницы карточки специалиста (не календарь) -->
   <div class="time-aside time-aside-view" *ngIf="!isCalendarPage">
      <!-- запись к спецу -->
      <span class="go-to-account-sign" *ngIf='isInProfileModule == "false"'>Для записи к специалисту необходимо войти в <span class="link" (click)="redirectToSignIn()">личный кабинет</span> или <span class="link" (click)="redirectToQuestionForm()">записаться на консультацию через форму обратной связи</span></span> 
      <div class="day-not-chosen-sign" *ngIf="selectedDay == -1 || !(inputDoctorInfo.scheduleTime && inputDoctorInfo.scheduleTime[year] && inputDoctorInfo.scheduleTime[year][month] && inputDoctorInfo.scheduleTime[year][month][selectedDay])">

         <!-- день не выбран -->
         <div class="time-blocker">
            <span class="bold">Выберите рабочий день специалиста</span>
            <!-- <div class="example">
               <div class="not-working-color color-example"></div>
               <p> - не рабочие дни специалиста</p>
            </div>
            <div class="example">
               <div class="working-color color-example"></div>
               <p> - рабочие дни специалиста</p>
            </div>
            <div class="example">
               <div class="choosen-day-color color-example"></div>
               <p> - выбранный день</p>
            </div>
            <div class="example">
               <div class="today-day-color color-example"></div>
               <p> - текущий день</p>
            </div> -->
         </div>
      </div>
      <!-- карточка доктора-->
         <!-- рабочий день выбран -->
      <div class="day-chosen" *ngIf="selectedDay != -1 && inputDoctorInfo.scheduleTime && inputDoctorInfo.scheduleTime[year] && inputDoctorInfo.scheduleTime[year][month] && inputDoctorInfo.scheduleTime[year][month][selectedDay]">
         <span class="time-note">Выберите время (По Минску)</span> 
         {{inputDoctorInfo.schedule | json}}
         <div class="time-selection doctor-card" *ngIf="inputDoctorInfo.scheduleTime">
            <!-- <div class="day-title">
               <span class="title">Занятия </span>
               <span class="day">{{selectedDay}} {{monthsNamesWhomCase[month - 1]}}</span>
            </div> -->
            <div class="time-gaps">
               <div class="time-row" 
                  *ngFor="let time of workGapsCln; index as i"
                  [ngClass]="{active: inputDoctorInfo.scheduleTime && inputDoctorInfo.scheduleTime[year] && inputDoctorInfo.scheduleTime[year][month] && inputDoctorInfo.scheduleTime[year][month][selectedDay] && inputDoctorInfo.scheduleTime[year][month][selectedDay][time], 
                              selected: selectedTimeForLesson === time,
                              booked: inputDoctorInfo.ordersFutureDates?.[year]?.[month]?.[selectedDay]?.[time]}"
                  (mouseenter)="onHoverTimeRow(time)"
                  (click)="onClickTimeRow(time)">
                  <div class="status">
                     <span class="active">Свободно</span>
                     <span class="booked">Занято</span>
                     <span class="deactivated"></span>
                  </div>
                  <span class="time">{{time | timeRow}}</span>
                  <form action="" class="lesson-properties" 
                     *ngIf="selectedTimeForLesson === time"
                     (ngSubmit) = "makeLessonFromTimeRow()">
                     <!-- <span>Опишите вашу проблему в свободной форме:</span>
                     <div class="problem">
                        <textarea name="problem" [(ngModel)]="patientProblem" cols="23" rows="4" ></textarea>
                     </div> -->
                     <!-- <button class="submit" [disabled]="isLoading" type="submit">записаться</button> -->
                  </form>
                  <!--!на эту надпись сразу активировалась запись без попапа (click)="makeLessonFromTimeRow()"  -->
                  <div class="buy-button" 
                  *ngIf="selectedTimeForLesson === time"
                  >
                     <span class="pay-sign">ЗАПИСАТЬСЯ</span>
                  </div>
                  <!-- <div class="switch" (click)="switchHour(time)" ></div> -->
               </div>
            </div>
         </div>
         <button [routerLink]="['/profile/doctors']" *ngIf='isInProfileModule == "false"'>В личный кабинет</button>
         <!-- <button [disabled]="selectedHourForLesson == -1" (click)="makeAnAppointment(year, month, selectedDay+1, selectedHourForLesson)" *ngIf='isInProfileModule == "true"'>Записаться(стар)</button> -->
         <!-- <button [disabled]="selectedTimeForLesson == -1 || isLoading" class="makeAppointment" [ngClass]="{updating2: isLoading}" (click)="appointmentDetails()" *ngIf='isInProfileModule == "true" && selectedTimeForLesson != -1'><span data-text="записаться">записаться</span></button>
         <button [disabled]="true" class="chooseHour" *ngIf='selectedTimeForLesson == -1'>выберите час</button> -->
         <div class="doctor-alert error" *ngIf="errorMakingLesson">
            {{errorMakingLesson}}
         </div>
         <div class="doctor-alert success" *ngIf="successMakingLesson" [routerLink]="['profile/calendar']">
            {{successMakingLesson}}
         </div>
      </div>
   </div>
   <!-- для страницы календаря (profile/calendar) -->
      <!-- день не выбран -->
   <div class="time-aside time-aside-edit" *ngIf="isCalendarPage" [ngClass]="{'downloading': updatingdWorkHourData, 'expanded': asideIsExpanded}">
                     <!-- ?💉--DOCTOR--💉? страница календаря -->
      <div class="time-aside-doctor" *ngIf="userData.myData.userType == 'doctor'" [ngClass]="{'downloading': updatingdWorkHourData}">
         <div class="day-not-chosen-sign" *ngIf="selectedDay == -1">
            <span>Выберите дни для работы, а затем время в каждом из них</span> 
            <ul class="my-lessons" *ngIf="userData.myData.events">
               <div class="lessons-title">
                  Занятия
               </div>
               <li class="lesson-card" 
                  *ngFor="let item of userData.myData.events | lessonsView:currentYear:currentMonth:day:currentHour"
                  [ngClass]="{'selected': item[1].date.day == selectedDay + 1}">
                  <!-- <div class="status" [ngClass]="{'unconfirmed': item[1].doctorsConfirmation == false, 'confirmed': item[1].doctorsConfirmation == true}"></div> -->
                  <div class="subtitle no-margin">Дата и время</div>
                  <div class="date">
                     <span class="days-left" *ngIf="item[1].daysLeft > 1">
                        Через {{item[1].daysLeft - 1}} дней,
                     </span>
                     <span *ngIf="item[1].daysLeft == 0">
                        Сегодня,
                     </span>
                     <span *ngIf="item[1].daysLeft == 1">
                        Завтра,
                     </span>
                     {{item[1].date.day}} {{monthsNamesWhomCase[item[1].date.month - 1]}}</div>
                  <div class="time">{{item[1].time | timeRow}}</div>
                  <div class="subtitle">Пациент</div>
                  <div class="patient-name">{{item[1].patientName}}</div>
                  <div class="problem">{{item[1].problemDescription}}</div>
                  <!-- <button (click)="popupService.toggleEventDetailsPopup(); popupService.eventDetails = item[1]">подр</button> -->
                  <!-- <button (click)="confirmEvent(item[0])" *ngIf="!item[1].doctorsConfirmation == true">подтверждаю занятие</button> -->
                  <div class="details" (click)="popupService.toggleEventDetailsPopup(); popupService.eventDetails = item[1]"></div>
                  <!-- <div class="zoom">{{item[1].zoom.link}}</div> -->
               </li>
            </ul>
         </div>

   
         <!-- календарь доктора -->
         <!--* рабочий день выбран -->
         <div class="time-of-day-chosen" *ngIf="selectedDay != -1">
            <div class="day-title">
               <!-- {{scheduleHours | json}} -->
               <!-- {{userData.myData.scheduleTime | json}} -->
               <span class="title">Занятия </span>
               <span class="day">{{selectedDay}} {{monthsNamesWhomCase[month - 1]}}</span>
            </div>
            <!-- <div class="manual-add-order"
               [ngClass]="{enabled: manualAddOrder, 
                           disabled: !manualAddOrder}"
               (click)="toggleManualAddOrder()">
               <span class="title">Записать клиента на занятие</span>
            </div> -->
            <!-- <button (click)="testEmail()">test email</button> -->
            <div class="doctor-alert error" *ngIf="errorMakingLesson">
               {{errorMakingLesson}}
            </div>
            <div class="doctor-alert success" *ngIf="successMakingLesson" [routerLink]="['profile/calendar']">
               {{successMakingLesson}}
            </div>
            <div class="time-gaps">
               <!-- <div *ngIf="scheduleHours[2022]">
                  scheduleHours: {{scheduleHours[2022][6][24] | json}}
               </div> -->
               <!-- {{newScheduleHours | json}} -->
               <div class="time-row"
                  *ngFor="let time of workGapsCln; index as i"
                  (click)="switchHour(time)"
                  [ngClass]="{active: scheduleHours && scheduleHours[year] && scheduleHours[year][month] && scheduleHours[year][month][selectedDay] && scheduleHours[year][month][selectedDay][time], 
                              booked: userData.myData.ordersFutureDates?.[year]?.[month]?.[selectedDay]?.[time],
                              'waiting-payment': userData.myData.ordersFutureDates?.[year]?.[month]?.[selectedDay]?.[time] && userData.myData.ordersFuture[userData.myData.ordersFutureDates?.[year]?.[month]?.[selectedDay]?.[time].orderId]?.state === 'AwaitingPayment',
                              canceled: userData.myData.ordersFutureDates?.[year]?.[month]?.[selectedDay]?.[time] && userData.myData.ordersFuture[userData.myData.ordersFutureDates?.[year]?.[month]?.[selectedDay]?.[time].orderId]?.state === 'PaymentRejected',
                              waiting: updatingdWorkHourData && newScheduleHours[time] }">
                  <div class="status" *ngIf="true">
                     <span class="active">Свободно</span>
                     <span class="booked">Забронировано</span>
                     <span class="waiting-payment red">Ожидание оплаты от клиента (20мин)</span>
                     <span class="canceled red">Клиент не оплатил</span>
                     <span class="deactivated">Скрыто</span>
                     <span class="waiting">Обновляем</span>
                  </div>
                  <span class="time">{{time | timeRow}}</span>
                  <!-- ? -->
                  <div class="loading-data" *ngIf="userData.myData.ordersFutureDates?.[year]?.[month]?.[selectedDay]?.[time]
                           && !userData.myData.ordersFuture[userData.myData.ordersFutureDates?.[year]?.[month]?.[selectedDay]?.[time].orderId]?.date?.time">
                     <!-- userData.myData.ordersFuture[userData.myData.ordersFutureDates?.[year]?.[month]?.[selectedDay]?.[time].orderId]?.date?.time -->
                     <!-- LOADING... -->
                     <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
                  </div>
                  <div class="data-ready" *ngIf="userData.myData.ordersFutureDates?.[year]?.[month]?.[selectedDay]?.[time] && userData.myData.ordersFuture[userData.myData.ordersFutureDates?.[year]?.[month]?.[selectedDay]?.[time].orderId]?.date?.time">
                     <div class="lesson-row">
                        <h4>Время занятия: </h4>
                        <span>{{userData.myData.ordersFuture[userData.myData.ordersFutureDates?.[year]?.[month]?.[selectedDay]?.[time].orderId]?.date?.time | timeRow}}</span>
                     </div>
                     <div class="lesson-row">
                        <h4>Клиент </h4>
                        <span>{{userData.myData.ordersFuture[userData.myData.ordersFutureDates?.[year]?.[month]?.[selectedDay]?.[time].orderId]?.patientName}}</span>
                     </div>
                     <div class="details" (click)="popupService.toggleEventDetailsPopup(); popupService.eventDetails = userData.myData.ordersFuture[userData.myData.ordersFutureDates?.[year]?.[month]?.[selectedDay]?.[time].orderId]"></div>
                  </div>
                  <!-- ? -->
                  
                  <!-- (click)="switchHour(time)" -->
                  <div class="switch"  ></div>
                  <!-- |manual-add решили пока удалить| -->
                  <!-- <div class="manual-add"
                     *ngIf="manualAddOrder"
                     (click)="openManualOrderPopup($event,time)"
                  >+</div>  -->
                  <!-- <div class="switch"
                     [ngClass]="{active: time | timeCheck:scheduleHours:year:month:selectedDay, 
                                 waiting: updatingdWorkHourData && newScheduleHours[time] }"
                     (click)="switchHour(time)" ></div> -->
               </div>
            </div>
            
         </div>
         <!-- <div class="expand" (click)="invertExpand()">развернуть</div> -->
      </div>
                     <!-- ?💊--CLIENT--💊?  страница календаря-->
      <div class="time-aside-client" *ngIf="userData.myData.userType == 'client'">
         <div class="no-lessons-sign" *ngIf="!userData.myData.events">
            у вас пока нет занятий
         </div>
         <div class="my-lessons" *ngIf="userData.myData.orders">
            <div class="lessons-sign">
               <span>Занятия на (день)</span>
            </div>
            <div class="time-gaps">
               <!-- <div *ngIf="scheduleHours[2022]">
                  scheduleHours: {{scheduleHours[2022][6][24] | json}}
               </div> -->
               <!-- {{newScheduleHours | json}} -->
               <div class="time-row" 
                  *ngFor="let time of workGapsCln; index as i"
                  [ngClass]="{active: userData.myData.ordersFutureDates?.[year]?.[month]?.[selectedDay]?.[time], 
                              booked: userData.myData.ordersFutureDates?.[year]?.[month]?.[selectedDay]?.[time] && userData.myData.ordersFuture[userData.myData.ordersFutureDates?.[year]?.[month]?.[selectedDay]?.[time].orderId]?.state === 'PaymentConfirmed',
                              'waiting-payment': userData.myData.ordersFutureDates?.[year]?.[month]?.[selectedDay]?.[time] && userData.myData.ordersFuture[userData.myData.ordersFutureDates?.[year]?.[month]?.[selectedDay]?.[time].orderId]?.state === 'AwaitingPayment',
                              canceled: userData.myData.ordersFutureDates?.[year]?.[month]?.[selectedDay]?.[time] && userData.myData.ordersFuture[userData.myData.ordersFutureDates?.[year]?.[month]?.[selectedDay]?.[time].orderId]?.state === 'PaymentRejected',
                              waiting: updatingdWorkHourData && newScheduleHours[time] }">
                  <div class="status" *ngIf="true">
                     <span class="empty">Свободно</span>
                     <span class="booked">Занятие</span>
                     <span class="waiting-payment red">Ожидание оплаты (20 мин)</span>
                     <span class="canceled red">Срок оплаты истек</span>
                  </div>
                  <div class="loading-data" *ngIf="userData.myData.ordersFutureDates?.[year]?.[month]?.[selectedDay]?.[time]
                           && !userData.myData.ordersFuture[userData.myData.ordersFutureDates?.[year]?.[month]?.[selectedDay]?.[time].orderId]?.date?.time">
                     <!-- userData.myData.ordersFuture[userData.myData.ordersFutureDates?.[year]?.[month]?.[selectedDay]?.[time].orderId]?.date?.time -->
                     <!-- LOADING... -->
                     <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
                  </div>
                  <div class="data-ready" *ngIf="userData.myData.ordersFutureDates?.[year]?.[month]?.[selectedDay]?.[time] && userData.myData.ordersFuture[userData.myData.ordersFutureDates?.[year]?.[month]?.[selectedDay]?.[time].orderId]?.date?.time">
                     <div class="lesson-row">
                        <h4>Время занятия: </h4>
                        <span>{{userData.myData.ordersFuture[userData.myData.ordersFutureDates?.[year]?.[month]?.[selectedDay]?.[time].orderId]?.date?.time | timeRow}}</span>
                     </div>
                     <div class="lesson-row">
                        <h4>Специалист </h4>
                        <span>{{userData.myData.ordersFuture[userData.myData.ordersFutureDates?.[year]?.[month]?.[selectedDay]?.[time].orderId]?.doctorName}}</span>
                     </div>
                     <button *ngIf="userData.myData.ordersFuture[userData.myData.ordersFutureDates?.[year]?.[month]?.[selectedDay]?.[time].orderId]?.state === 'AwaitingPayment'" (click)="payForOrder(userData.myData.ordersFuture[userData.myData.ordersFutureDates?.[year]?.[month]?.[selectedDay]?.[time].orderId]?.paymentFormUrl)">оплатить</button>
                     <div class="details" (click)="popupService.toggleEventDetailsPopup(); popupService.eventDetails = userData.myData.ordersFuture[userData.myData.ordersFutureDates?.[year]?.[month]?.[selectedDay]?.[time].orderId]"></div>
                     <span class="payment-state">{{userData.myData.ordersFuture[userData.myData.ordersFutureDates?.[year]?.[month]?.[selectedDay]?.[time].orderId]?.state}}</span>
                  </div>
                  <!-- <span class="time">{{time | timeRow}}</span> -->
               </div>
            </div>
            <!-- <div class="lesson-card"
               *ngFor="let item of userData.myData.ordersFutureIds"
               >
               <div class="loading-data" *ngIf="!userData.myData.ordersFuture[item]">
                  <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
               </div>
               <div class="data-ready" *ngIf="userData.myData.ordersFuture[item]">
                   
                  <div class="status" [ngClass]="{'unconfirmed': item[1].doctorsConfirmation == false, 'confirmed': item[1].doctorsConfirmation == true}"></div>
                  <div class="subtitle no-margin">Дата и время</div>
                  <div class="date">
                     <div class="date">
                        {{userData.myData.ordersFuture[item].date.day}} 
                        {{monthsNamesWhomCase[userData.myData.ordersFuture[item].date.month - 1]}}, 
                        {{userData.myData.ordersFuture[item].date.time}}:00 (МСК) 
                     </div>
                     <span class="days-left" *ngIf="userData.myData.ordersFuture[item].daysLeft > 1">
                        (через {{userData.myData.ordersFuture[item].daysLeft}} дней)
                     </span>
                     <span *ngIf="userData.myData.ordersFuture[item].daysLeft == 0">
                        (Сегодня)
                     </span>
                     <span *ngIf="userData.myData.ordersFuture[item].daysLeft == 1">
                        (Завтра)
                     </span>
                  </div>
                  <div class="time">{{userData.myData.ordersFuture[item].time}}</div>
                  <div class="subtitle">Доктор</div>
                  <div class="doctor-name">{{userData.myData.ordersFuture[item].doctorName}}</div>
                  <div class="subtitle">Ваш вопрос</div>
                  <div class="problem">{{userData.myData.ordersFuture[item].problemDescription | slice:0:25}}..</div>
                  <div class="subtitle">Осталось время</div>
                     <div class="time">{{userData.myData.ordersFuture[item].hoursLeft}}</div>
                     
                     <button (click)="popupService.toggleEventDetailsPopup(); popupService.eventDetails = item[1]">подробнее</button>
                  <div class="status" [ngClass]="{'unconfirmed': userData.myData.ordersFuture[item].state !== 'PaymentConfirmed', 'confirmed': userData.myData.ordersFuture[item].state === 'PaymentConfirmed'}"></div>
                  <button *ngIf="userData.myData.ordersFuture[item].state === 'AwaitingPayment'" (click)="payOrder(userData.myData.ordersFuture[item].paymentFormUrl)">оплатить</button>
                  {{userData.myData.ordersFuture[item].state}}
               </div>
               <div class="">-------------</div>
            </div> -->
         </div>
      </div>
      <!-- <div class="bottom-expand" (click)="invertExpand()">{{expandSign}}</div> -->
   </div>
   
</div>

<!-- <div class="change-shedule-block" *ngIf="isCalendarPage && userData.myData.userType == 'doctor'">
   <div class="debug" *ngIf="false && helper.DEBUG">
      <div class="">daysOfWeekShedule:{{daysOfWeekShedule | json}}</div>
      <div class="">newDaysOfWeekShedule: {{newDaysOfWeekShedule | json}}</div>

   </div>
   <div class="days-selection-wrapper">
   <h3>Рабочее время</h3>
      <div class="days-of-week-selection">
         <div class="days-of-week-checkboxes">
            <div class="day-of-week" 
               *ngFor="let item of daysOfWeek; index as i" 
               (click)="changeActiveDaysOfWeek(i)"
               [ngClass]="{active: newDaysOfWeekShedule[i]}">
               <span>{{item}}</span>
            </div>
            
         </div>
      </div>
      <div class="days-of-week-settings">
         <div class="days-of-week-aside-rows">
            <div class="time-row" 
            *ngFor="let item of daysOfWeek; index as i"
            [ngClass]="{active: newDaysOfWeekShedule[i]}"> 
               <span>{{item}}</span>
               <div class="active-row row-settings" *ngIf="newDaysOfWeekShedule[i]">
                  <div class="row-setting from">
                     <span>{{newDaysOfWeekShedule[i][0]}}</span>
                     <div class="increase time-setting-button" (click)="changeWorkHour(1, i, 0)"></div>
                     <div class="decrease time-setting-button" (click)="changeWorkHour(-1, i, 0)"></div>
                  </div>
                  <div class="row-setting to">
                     <span>{{newDaysOfWeekShedule[i][1]}}</span>
                     <div class="increase time-setting-button" (click)="changeWorkHour(1, i, 1)"></div>
                     <div class="decrease time-setting-button" (click)="changeWorkHour(-1, i, 1)"></div>
                  </div> 
               </div>
               <div class="disabled-row row-settings" *ngIf="!newDaysOfWeekShedule[i]">не рабочий день</div>
            </div>
         </div>
      </div>
   </div>
   <div class="buttons">
      <button class="cancel" (click)="cancelNewShedule()">
         отмена 
      </button>
      <button class="submit-new-shedule" (click)="sendNewShedule()" [disabled]="updatingdWorkHourData" [ngClass]="{updating2: updatingdWorkHourData}">
         <span data-text="сохранить">сохранить</span>
      </button>
   </div>
</div> -->
