<div class="payment-success">
   <div class="container">
      <ul class="breadcrumb-arrows arrows">
         <li><a [routerLink]="['/profile']">Личный кабинет</a></li>
      </ul>
      <div class="notes-block">
         <h1 class="success-note">Оплата прошла успешно</h1>
         <h2>Пожалуйста убедитесь, что вам пришло сообщение на @почту и занятие появилось в <span class="link" [routerLink]="['/profile/calendar']">календаре</span>!</h2>
         <h3>Если произошла какая-либо ошибка или у вас есть любые вопросы, раздел  <span class="link" [routerLink]="['/profile/help']">помощь</span></h3>
      </div>
   </div>
</div>