<div class="fixed-overlay ">
   <div class="close-popup" (click)="popupService.togglePassRecoveryPopup()"></div>
   <div class="popup">

      
      <div class="popup-container">
         <div class="title">Восстановление пароля</div>
         <form>
            <div class="inputs-wrapper">
               <label><span>Email</span><input [(ngModel)]="email"  name="email"  type="text"></label>
            </div>
            <button class="login" type="submit" (click)="passwordRecovery()">Восстановить</button>
         </form>
      </div>

   </div>
</div>
