<div class="fixed-overlay ">
   <div class="close-popup" (click)="popupService.togglePassRecoveryPopup()"></div>
   <div class="popup">

      
      <div class="popup-container">
         <h2 class="title">Восстановление пароля</h2>
         <form class="new-form" [formGroup]="passwordRecoveryForm">
            <div class="line">
               <label>
                  <input name="email" [ngClass]="{filled: email.value}" type="email" formControlName="email">
                  <span class="title">email</span>
                  <div class="validation-errors" *ngIf="email.invalid && (email.dirty || email.touched) || requiredErr">
                     <span class="note err" *ngIf="email.errors?.['required']">*необходимо заполнить</span>
                  </div>
               </label>
            </div>
            <!-- <div class="inputs-wrapper">
               <label><span>Email</span><input [(ngModel)]="email"  name="email"  type="text"></label>
            </div> -->
            <button class="login" type="submit" (click)="passwordRecovery()">Восстановить</button>
         </form>
         <div class="signs">
            <div class="message error-message" *ngIf="errMessage" >{{errMessage}}</div>
            <div class="message successful-message" *ngIf="true" >{{message}}</div>
         </div>
      </div>

   </div>
</div>
