<div class="terms-of-use">
   <div class="container">
      <div class="logo">
         <a [routerLink]="['/']">
            <img src="./assets/icons/logo.svg" alt="logo">
         </a>
      </div>
      <div class="breadcrumb-arrows arrows">
         <a [routerLink]="['/']">На главную</a>
      </div>
      <h1>Пользовательское соглашение</h1>
      <h3>1. Общие положения</h3>
      <ul>
         <li>1.1. Настоящий Договор является публичным договором (публичной офертой) на основании пункта 2 статьи 437 Гражданского Кодекса Российской Федераци и Общества с ограниченной ответственностью «Ясно.лайв», в лице генерального директора Зайцева-Зотова Андрея Сергеевича, действующего на основании устава, именуемого в дальнейшем «Исполнитель», любому правоспособному и дееспособному физическому лицу, достигшему 16 лет, выразившему готовность воспользоваться услугами Исполнителя и принявшему условия настоящего Договора публичной оферты, действующей в соответствии с Законом г. Москвы от 07.10.2009 № 43 «О Логопедической помощи населению в городе Москве» (далее — «Договор»).</li>
         <li>После принятия изложенных ниже условий и началом пользования Сервисом, лицо, производящее акцепт этой оферты, становится Пользователем.</li>
         <li>1.2. Полным и безоговорочным акцептом настоящей публичной оферты считается факт начала пользования Сервисом, включая совершение бронирования, оставление электронных заявок, совершение покупки  и регистрацию на Сервисе.</li>
         <li>1.3. Публичный договор, совершенный в вышеописанном порядке, считается заключенным в простой письменной форме, не требует оформления на бумажном носителе и обладает полной юридической силой.</li>
         <li>1.4. С момента совершения акцепта Пользователь считается ознакомившимся и согласившимся с настоящей публичной офертой и, в соответствии с Гражданским Кодексом РФ, считается вступившим с Исполнителем в договорные отношения в соответствии с условиями Договора.</li>
         <li>1.5. Исполнитель имеет право в любой момент изменять условия предоставления услуг и условия Договора в одностороннем порядке без предварительного согласования с Пользователем, обеспечивая при этом публикацию измененных условий на Сервисе не менее, чем за один день до их ввода в действие.</li>
      </ul>
      <h3>2. Термины и определения</h3>
      <ul>
         <li>В целях Договора Стороны согласились использовать следующие термины и определения:</li>
         <li>2.1. «Сервис» - разработанная Исполнителем онлайн платформа (программный комплекс) «Логого», расположенная в информационно – телекоммуникационной сети Интернет по адресу https://logogo.online/, позволяющая осуществлять выбор Логопеда из предложенных специалистов, а также проводить Видеоконсультации между Логопедом и Пользователем, между Логопедом и ребёнком пользователя, а также обладающая другими функциональными возможностями, доступными Логопеду.</li>
         <li>2.2. «Видеоконсультация» – онлайн консультация на Сервисе, участником которой является Логопед и Пользователь, на основе своей учетной записи через свой Личный кабинет, продолжительность которой устанавливается Логопедом либо администрацией Сервиса.</li>
         <li>2.3. «Пользователь» – физическое лицо, обладающее полной право- и дееспособностью, достигшее 16 лет, обратившееся к Логопеду посредством Сервиса и являющееся заказчиком в соответствии с настоящим Договором.</li>
         <li>2.4. «Логопед» – физическое лицо, обладающее полной право- и дееспособностью, достигшее 18 лет, имеющее высшее образование или прошедшее переподготовку в области Логопедии, оказывающее помощь и консультирование Пользователей по различным вопросам посредством Сервиса либо других инструментов связи, без выписывания медицинских рецептов.</li>
         <li>2.5. «Личный кабинет» – персональная страница Пользователя на Сервисе, доступ к которой предоставляется Пользователю после регистрации. Логином для входа в Личный кабинет является эдрес электронной почты Пользователя (далее - «логин»), а паролем – кодовое слово, придуманное Пользователем (далее – «пароль»). Личный кабинет содержит анкету, обязательную для заполнения Пользователем.</li>
         <li>2.6. Исполнитель — директор … (см. следующий абзац)</li>
      </ul>
      <h3>3. Предмет Договора</h3>
      <ul>
         <li>3.1. Предметом Договора является предоставление Исполнителем Пользователю доступа к функциональным возможностям Сервиса, позволяющим осуществить выбор Логопеда, а также проведения Видеоконсультаций с Логопедом по вопросу индивидуальной Логопедической работы с Пользователем либо ребёнком пользователя. При этом услуги проведения Видеоконсультаций Пользователю оказывает непосредственно Логопед, а Исполнитель только предоставляет техническую возможность использования функциональных возможностей Сервиса.</li>
         <li>3.1.1. Пользователь предоставляет Исполнителю право на использование обратной связи Пользователя для исследований и улучшения качества работы Сервиса, проводимых Видеоконсультаций, анализа целесообразности и качества используемых практических подходов и методов консультирования. <span class="bold">Указанное использование не будет являться нарушением условий конфиденциальности.</span> </li>
         <li>3.2. Функциональные возможности Сервиса для Пользователя:</li>
         <li>3.2.1. Возможность выбора наиболее подходящих для решения вопросов Пользователя Логопедов, по результатам проведения первичного анализа Логопедического состояния Пользователя (ребёнка пользователя). Пользователь имеет право выбрать иного Логопеда из всей базы специалистов, разместивших информацию о себе на Сервисе.</li>
         <li>3.2.2. Неограниченный доступ к Личному кабинету Пользователя.</li>
         <li>3.2.3. Возможность записи на Видеоконсультации согласно графику Логопеда.</li>
         <li>3.2.4. Возможность проведения Видеоконсультаций.</li>
         <li>3.3. Ни Исполнитель, ни Логопед не оказывают медицинские услуги, не занимаются выдачей каких-либо сертификатов или рецептов, а также не осуществляют назначение медицинских препаратов. Исполнитель и Логопед не занимаются лечебной или какой-либо другой медицинской практикой.</li>
         <li>3.4. Пользователь полностью осознает, что Исполнитель ни при каких условиях не может нести и не несет ответственность за результат проведения Видеоконсультаций.</li>
         <li>3.5. Пользователь полностью осознает, что Исполнитель может в любой момент отказать в предоставлении доступа к Сервису, в случае нарушения Пользователем условий настоящего Договора, а также в любых иных случаях, в том числе, и <span class="bold">без объяснения причин</span>.</li>
         <li>3.6. В случае, если Пользователь пропускает Видеоконсультацию согласно установленному с Логопедом графику или уведомляет о переносе Видеоконсультации менее, чем за 12 часов до назначенного времени, уплаченные за Видеоконсультацию Логопеду денежные средства не подлежат возврату Пользователю и считаются фиксированной абонентской платой.</li>
         <li>3.7. В случае, если Видеоконсультация не состоялась по вине Логопеда и/или Логопед уведомил Пользователя об отмене или переносе Видеоконсультации менее, чем за 12 часов, то, на усмотрение Пользователя, оплаченная за Видеоконсультацию сумма, либо подлежит возврату Пользователю, либо засчитывается в счет оплаты следующей Видеоконсультации.</li>
         <li>3.8. В случае, если Пользователь опаздывает на назначенную Видеоконсультацию, время Видеоконсультации не продлевается, в случае, если Логопед опаздывает на Видеоконсультацию, время Видеоконсультации продлевается на период опоздания Логопеда.</li>
         <li>3.9. Особенностью исполнения договорных обязательств является отсутствие гарантированного результата, так как полезный эффект зависит не только от профессионализма Логопеда, но и от состояния и индивидуальных особенностей Пользователя (ребёнка пользователя).</li>
         <li>3.10. Для пользования Сервисом Пользователь должен обеспечить наличие следующего оборудования и программного обеспечения:</li>
         <ol>
            <li>настольный компьютер/ноутбук:</li>
            <ol>
               <li>видеокамера, встроенная или внешняя</li>
               <li>микрофон, встроенный или внешний</li>
               <li>программа Zoom версии 5.8.4 (1736) либо новее</li>
            </ol>
            <li>или мобильное устройство:</li>
            <ol>
               <li>под управлением iOS версии 13.x и выше с установленной программой Zoom</li>
               <li>под управлением Android версии 7.x и выше  с установленной программой Zoom</li>
            </ol>
            <li>стабильный интернет канал с входящей и исходящей скоростью не менее 4 мегабита в секунду в каждом направлении (проверить скорость можно, например, на https://yandex.ru/internet/)</li>
         </ol>
         <li>3.11. Сервис предоставляется «как есть» и «при наличии», то есть без любых прямых или косвенных заверений или гарантий. Исполнитель не гарантирует и не делает никаких заявлений относительно безопасности Сервиса. Пользователь подтверждает, что любая передаваемая посредством Сервиса информация может быть перехвачена в процессе передачи или иным образом. Исполнитель не гарантирует, что Сервис не содержит вирусов или других вредоносных элементов. Использование Сервиса осуществляется Пользователем по своему решению и на свой риск при условии, что Пользователь несет исключительную ответственность за любой ущерб, причиненный компьютерной системе Пользователя, за потерю данных или иной вред, причиненный в результате такой деятельности.</li>
         <li>3.12. У Исполнителя имеется доступ к проводимым Видеоконсультациям. Исполнитель либо представитель исполнителя имеет право присоединиться к проводимой видеоконсультации для контроля качества услуги, предоставляемой Логопедом. В случае подсоединения Исполнителя либо его представителя к видео консультации данный факт будет явным и хорошо заметным в интерфейсе программы видео звонка Zoom. Смысл этого права такой же, как если бы в учреждении его заведующий либо администратор входили бы в методический кабинет в момент предоставления консультации.</li>
         <li>3.13 Функционал Сервиса не предполагает запись Видеоконсультации или их хранение и обработку. При этом Исполнитель имеет право обрабатывать и обнародовать обезличенные данные Пользователя, такие как пол, возраст, профессия, эмоциональное и иное состояние, в целях анализа, доработки, внесения изменений в Сервис, а также размещения статистических данных в информационно-телекоммуникационной сети «Интернет», на конференциях, предоставления аналитики третьим лицам, в пределах, разрешенных законодательством Российской Федерации, а Пользователь дает на это свое согласие.</li>
         <h3>4. Права и обязанности Исполнителя</h3>
         <li>4.1. Исполнитель обязан:</li>
         <li>4.1.1. Предоставлять доступ к функциональным возможностям Сервиса в соответствии с условиями настоящего Договора, после регистрации Пользователя на Сервисе и первичного заполнения Пользователем анкеты в Личном кабинете.</li>
         <li>4.1.2. По запросу Пользователя давать Пользователю разъяснения по вопросам пользования Сервисом.</li>
         <li>4.2. Права Исполнителя:</li>
         <li>4.2.1. Самостоятельно определять функциональные возможности Сервиса, изменять или вносить новые функциональные возможности Сервиса без предварительного согласования с Пользователем.</li>
         <li>4.2.2. Требовать от Пользователя предоставления информации о его текущем состоянии путем заполнения анкеты в Личном кабинете.</li>
         <li>4.2.3. Отказать в доступе к Сервису и расторжении Договора по любым основанием, в том числе без объяснения причин, в случае невыполнения или ненадлежащего выполнения Пользователем своих обязательств по Договору.</li>
      </ul>
      <h3>5. Права и обязанности Заказчика</h3>
      <ul>
         <li>5.1. Пользователь обязан:</li>
         <ol>
            <li>5.1.1. Предоставлять Исполнителю по запросу, а также путем заполнения анкеты в Личном кабинете, достоверные сведения и данные, необходимые для надлежащего исполнения Исполнителем своих обязательств. При заключении Договора Пользователь обязан зарегистрироваться на Сервисе, получить доступ к Личному кабинету, произвести первичное заполнение размещенной в нем анкеты.</li>
            <li>5.1.2. Соблюдать график Видеоконсультаций, размещенный в Личном кабинете и согласованный с Логопедом, о любом изменении уведомлять не менее, чем за 12 часов до назначенного времени Видеоконсультации.</li>
            <li>5.1.3. Не воспроизводить, не копировать, не распространять, а также не использовать любым иным способом, в каких бы то ни было целях, содержимое Сервиса, за исключением личного использования в рамках настоящего Договора.</li>
            <li>5.1.4. Не осуществлять действия по размещению на Сервисе рекламной информации, а также любых незаконных, дискредитирующих, несущих угрозу сообщений или сообщений, противоречащих законодательству Российской Федерации.</li>
            <li>5.1.5. Не передавать логин и пароль к своему Личному кабинету любым третьим лицам, стремиться обеспечить секретность указанных логина и пароля. В случае несоблюдения указанного условия (включая случаи утечки информации о логине и пароле против воли Пользователя) Исполнитель не несет какой-либо ответственности за предоставления доступа в Личному кабинету Пользователя лицу, любым способом заполучившему логин и пароль Пользователя, за разглашение конфиденциальных данных Пользователя и не обязан компенсировать ущерб Пользователя, вызванный таким нарушением.</li>
            <li>5.1.6. Не осуществлять агитацию и подстрекательство Логопеда оказывать услуги Пользователю без использования Сервиса, не размещать на Сервисе информацию, каким-либо образом дискредитирующую Исполнителя и/или информацию несоответствующую действительности. Сообщать Исполнителю о любых случаях попытки Логопеда вывести Видеоконсультации за пределы Сервиса.</li>
            <li>5.1.7. Незамедлительно уведомить Исполнителя о случаях утери либо хищения логина и/или пароля к Личному кабинету Пользователя.</li>
            <li>5.1.8. Незамедлительно уведомить Исполнителя о попытке Логопеда вывести Видеоконсультации за пределы Сервиса.</li>
         </ol>
         <li>5.2. Права Пользователя:</li>
         <ol>
            <li>5.2.1. Требовать от Исполнителя надлежащего исполнения обязанностей по настоящему Договору.</li>
            <li>5.2.2. Получать, при необходимости, консультации Исполнителя относительно возможностей Сервиса.</li>
            <li>5.2.3. Выбрать Логопеда из предложенных на Сервисе и выносить на обсуждение, в рамках Видеоконсультации, любую интересующую Пользователя личную проблему.</li>
            <li>5.2.4. Отказаться в одностороннем порядке от использования Сервиса и расторгнуть Договор путем направления соответствующего уведомления Исполнителю по электронному адресу vse@yasno.live или путем нажатия кнопки «Удалить аккаунт» в Личном кабинете, в результате чего Исполнитель блокирует Пользователя и удаляет записи на будущие Видеоконсультации из графика Логопеда. В случае такого отказа Договор будет считаться прекращенным со дня, следующего за днем получения такого уведомления Исполнителем.</li>
            <li>5.2.5. Сменить Логопеда на любом этапе, количество таких замен не ограничено Сервисом.</li>
            <li>5.2.6. Оставить отзыв о Логопеде.</li>
         </ol>
      </ul>
      <h3>6. Финансовые условия</h3>
      <ul>
         <li>6.1. Пользователь не платит за получения доступа к Сервису, однако, отдельные функции Сервиса могут быть платными. Оплата Пользователем таких функций производится посредством платежных систем, предложенных на Сервисе.</li>
         <li>6.2. При этом использование Сторонами определенной системы расчетов может быть связано с заключением указанными лицами отдельного соглашения, регулирующего применение соответствующей системы расчетов и заключение которого является обязательным условием проведения расчетов таким способом и в таком порядке.</li>
         <li>6.3. Пользователю может быть доступна функция безналичной оплаты с банковской карты, в этом случае Исполнитель действует по поручению соответствующего Логопеда с привлечением уполномоченного оператора по приему платежей и является получателем платежа в качестве агента Логопеда (далее – «безналичная оплата»). Исполнитель не гарантирует отсутствия ошибок и сбоев в работе Сервиса в отношении предоставления возможности безналичной оплаты.</li>
         <li></li>
      </ul>
      .........................................
   </div>
</div>