button
   // width: 348px
   // margin: 40px 0 0 170px

.registration-block
   margin-top: 20px
   padding-bottom: 40px

.login-tab
   &:focus
      outline: 0

.title
   text-align: center
//----для input select----

