<div class="faq" id="faq">
   <div class="container">
      <h2>FAQ</h2>
      <ul class="faq-list">
         <li class="faq-item" 
            *ngFor="let item of questions; index as i" 
            [ngClass]="{active: i == activeDescription}"
            (click)="chooseTab(i)">
            <div class="faq-item-header">
               <h4>{{item.title}}</h4>
               <!-- <div class="arrow" ></div> -->
            </div>
            <div class="faq-item-descr">
               <h5>{{item.title}}</h5>
               <p *ngFor="let p of item.description">{{p}}</p>
            </div>
         </li>
      </ul>

      
      
      
      
      <!-- <ul class="faq-list">
         <li class="faq-item">
            <div class="faq-item-header">
               <h3>Сколько длится консультация?</h3>
            </div>
            <div class="faq-item-descr">
               <p>Консультация длится 40 мин. Это время общения с профильным специалистом, который сможет сориентировать вас в этапах формирования речи, познавательной, двигательной сферы ребенка и направлениях коррекционной работы, посоветовать подходящие именно вам способы и приемы взаимодействия в условиях дома и общественных местах и ответит на другие, волнующие вопросы, связанные с детским развитием. </p>
            </div>
         </li>
         <li class="faq-item">
            <div class="faq-item-header">
               <h3>Что я могу получить от онлайн-консультации?</h3>
            </div>
            <div class="faq-item-descr">
               <p>- Первичное или альтернативное мнение ведущих специалистов о состоянии развития вашего ребенка.</p>
               <p>- Индивидуальный план работы: перечень и описание заданий и упражнений, подходящих именно вашему ребенку.</p>
               <p>- Рекомендации по регуляции детского поведения и организации занятий в домашних условиях.</p>
               <p>- Советы по организации режима питания, занятий, сна и отдыха для вашего ребенка.</p>
               <p>- Подсказки для регуляции внутрисемейных отношений при появлении малыша с особенностями.</p>
               <p>- Спланировать онлайн-занятия. </p>
               <p>- Договориться о заочной форме онлайн-обучения.</p>
            </div>
         </li>
         <li class="faq-item">
            <div class="faq-item-header">
               <h3>Как мне общаться со специалистом, чтобы получить максимальный эффект от консультации?</h3>
            </div>
            <div class="faq-item-descr">
               <p>- Подготовьте к моменту консультации медицинские данные о ребенке: выписку из истории развития (как протекала беременность, с каким весом, ростом и в какой срок родился, какие данные по шкале Апгар, какие диагнозы были выставлены при выписке из родильного отделения, какие заболевания, травмы перенес), справки и заключения узких специалистов, при их наличии.</p>
               <p>- Если ребенок плохо идет на контакт и есть вероятность, что он не захочет общаться онлайн, сделайте видеозапись беспокоящих вас моментов и продемонстрируйте специалисту в ходе консультации.</p>
               <p>- Составьте перечень вопросов, которые вы бы хотели задать специалисту. </p>
               <p>- Постарайтесь предварительно максимально подробно описать беспокоящую вас ситуацию.</p>
            </div>
         </li>
         <li class="faq-item">
            <div class="faq-item-header">
               <h3>Консультация проводится в присутствии ребенка?</h3>
            </div>
            <div class="faq-item-descr">
               <p>Присутствие ребенка желательно. Это позволит специалисту объективно оценить ситуацию и ориентироваться в своих рекомендациях на полученные данные.</p>
               <p>В случае, если ребенок не идет на контакт, родителям нужно максимально подробно описать ситуацию и сформировать запрос к специалисту.</p>
            </div>
         </li>
         <li class="faq-item">
            <div class="faq-item-header">
               <h3>А что насчет онлайн-занятий?</h3>
            </div>
            <div class="faq-item-descr">
               <p>Такую форму онлайн взаимодействия мы тоже применяем. Занятия длятся 40 мин., в зависимости от возраста и возможностей ребенка. </p>
               <p>При этом мы хотим, чтобы ваши дети и вы получали максимальный эффект от онлайн-обучения. Поэтому решение о целесообразности таких занятий принимается только после первой консультации и при условии, что ребенок прямо или косвенно (с помощью родителя) идет на контакт со специалистом. </p>
               <p>Если такой возможности нет, не отчаивайтесь! В этом случае мы предусмотрели заочную форму онлайн-обучения.</p>
            </div>
         </li>
         <li class="faq-item">
            <div class="faq-item-header">
               <h3>Что такое заочная форма онлайн-обучения?</h3>
            </div>
            <div class="faq-item-descr">
               <p>Это прекрасный формат коррекционной помощи для родителей, не имеющих возможность регулярно посещать специалистов с детьми и готовых активно учиться и проводить занятия самостоятельно под опытным руководством.</p>
               <p>В условиях заочного онлайн-обучения родители получают от специалиста перечень заданий с подробным описанием приемов работы на определенный промежуток времени. </p>
               <p>По истечении указанного срока, родители возвращаются к специалисту за новой консультацией и новым комплексом заданий. Специалист отслеживает динамику развития ребенка и дает новые рекомендации по совершенствованию коррекционного процесса.</p>
            </div>
         </li>
      </ul> -->
   </div>
</div>
