<div class="fixed-overlay ">
   <div class="close-popup" (click)="popupService.toggleFbSecurityPopup()"></div>
   <div class="popup">

      
      <div class="popup-container">
         <div class="mode" *ngIf="resetPasswordMode">
            <h2 class="title">Восстановление пароля</h2>
            <form class="new-form" [formGroup]="passwordChangeForm">
               <div class="line">
                  <label>
                     <input name="newPassword" [ngClass]="{filled: newPassword.value}" type="password" formControlName="newPassword">
                     <span class="title">Новый пароль</span>
                     <div class="validation-errors" *ngIf="newPassword.invalid && (newPassword.dirty || newPassword.touched) || requiredErr">
                        <span class="note err" *ngIf="newPassword.errors?.['required']">*необходимо заполнить</span>
                     </div>
                  </label>
               </div>
               <!-- <div class="inputs-wrapper">
                  <label><span class="narrow">Новый пароль</span><input  [(ngModel)]="newPassword" name="newPassword"  type="password"></label>
               </div> -->
               <button class="login" type="submit" (click)="passwordRecovery()">Восстановить</button>
            </form>
            <div class="signs">
               <div class="message error-message" *ngIf="errMessage" >{{errMessage}}</div>
               <div class="message successful-message" *ngIf="true" >{{message}}</div>
            </div>
         </div>
         <div class="mode" *ngIf="verifyEmailMode">
            <h2 class="title">Подтверждение Email</h2>
            <div class="lds-ellipsis" *ngIf="!emailVerify"><div></div><div></div><div></div><div></div></div>
            <div class="signs">
               <div class="message green" *ngIf="emailVerify" >почта подтверждена</div>
               <div class="message red" *ngIf="errMessage" >{{errMessage}}</div>
            </div>
            <div class="sign">*если спустя 10 секунд это окно не пропало, то нажмите за пределами этого окна или перезагрузите страницу на кнопку F5</div>
         </div>
         <div class="mode" *ngIf="recoverEmailMode">
            <div class="title">Восстановление почты</div>
            <div class="signs">
               <div class="message error-message" *ngIf="errMessage" >{{errMessage}}</div>
               <div class="message successful-message" *ngIf="true" >{{message}}</div>
            </div>
         </div>
      </div>

   </div>
</div>
