<div class="specialist-reg">
   <div class="container">
      <!-- newUniqId: "{{newUniqId}}" -->
      <form class="doctor-form"
      class = "new-form"
      [formGroup]="doctorRegistrationForm"
      (ngSubmit) = "sendDoctorForm()"
      >
         <button [routerLink]="['/admin/menu']" >назад</button>
         <div class="line">
            <label>
               <input name="surname" [ngClass]="{filled: surname.value}" type="email" formControlName="surname">
               <span class="title">Фамилия</span>
               <div class="validation-errors" *ngIf="surname.invalid && (surname.dirty || surname.touched) || requiredErr">
                  <span class="note err" *ngIf="surname.errors?.['required']">*необходимо заполнить</span>
               </div>
            </label>
         </div>
         <div class="line">
            <label>
               <input name="name" [ngClass]="{filled: name.value}" type="name" formControlName="name">
               <span class="title">Имя</span>
               <div class="validation-errors" *ngIf="name.invalid && (name.dirty || name.touched) || requiredErr">
                  <span class="note err" *ngIf="name.errors?.['required']">*необходимо заполнить</span>
               </div>
            </label>
         </div>
         <div class="line">
            <label>
               <input name="patronymic" [ngClass]="{filled: patronymic.value}" type="patronymic" formControlName="patronymic">
               <span class="title">Отчество</span>
               <div class="validation-errors" *ngIf="patronymic.invalid && (patronymic.dirty || patronymic.touched) || requiredErr">
                  <span class="note err" *ngIf="patronymic.errors?.['required']">*необходимо заполнить</span>
               </div>
            </label>
         </div>
         <div class="line">
            <label>
               <input name="email" [ngClass]="{filled: email.value}" type="email" formControlName="email">
               <span class="title">email</span>
               <div class="validation-errors" *ngIf="email.invalid && (email.dirty || email.touched) || requiredErr">
                  <span class="note err" *ngIf="email.errors?.['required']">*необходимо заполнить</span>
               </div>
            </label>
         </div>
         <div class="line">
            <label>
               <input name="password" [ngClass]="{filled: password.value}" [type]="popupService.passwordsHidden ? 'password' : 'text'" formControlName="password">
               <span class="title">Пароль</span>
               <div class="reveal-eye" (mousedown)="popupService.revealPass()" (mouseleave)="popupService.hidePass()" (mouseup)="popupService.hidePass()"></div>
               <div class="validation-errors" *ngIf="password.invalid && (password.dirty || password.touched) || requiredErr">
                  <span class="note err" *ngIf="password.errors?.['required']">*необходимо заполнить</span>
               </div>
            </label>
         </div>
         <!-- <div class="inputs-wrapper">
            <label><span>Фамилия</span><input required name="surname"  type="text" formControlName="surname"></label>
            <label><span>Имя</span><input required name="name" type="text" formControlName="name"></label>
            <label><span>Отчество</span><input required name="patronymic"  type="text" formControlName="patronymic"></label>
            <label><span>Email</span><input required name="email"  type="text" formControlName="email"></label>
            <label><span>Пароль</span><input required name="password"  type="password" formControlName="password"></label>
         </div> -->
         <div class="rules">
            <div class="terms-of-use">
               <label>
                  <input name="termsOfUse"   type="checkbox" formControlName="termsOfUse">
                  <span>Я подтверждаю, что ознакомлен и согласен с условиями <a class="show-rules" (click)="popupService.toggleTermsOfUsePopup()">Пользовательского соглашения</a></span>
               </label>
            </div>
            <div class="news-subscription">
               <label>
                  <input name="newsSubscription"  type="checkbox" formControlName="newsSubscription">
                  <span>Я хочу получать последние новости об обновлениях сервиса</span>
               </label>
            </div>
         </div>
         <div class="shortIdErrorMessage" *ngIf="shortIdErrorMessage" >{{shortIdErrorMessage}}</div>
         <div class="serverErrorMessage" *ngIf="serverErrMessage" >{{serverErrMessage}}</div>
         <div class="registrationStatus" *ngIf="registrationStatus" >{{registrationStatus}}</div>
         <div class="createDBStatus" *ngIf="createDBStatus" >{{createDBStatus}}</div>
         <div class="reloginErrorMessage" *ngIf="reloginErrorMessage" >{{reloginErrorMessage}}</div>
         <button (click)="goToRelogin()" class="relogin" *ngIf="relogin">перелогиниться</button>
         <button class="submit" [disabled]="isSendingData" type="submit">зарегистрировать</button>
      </form>
      <div class="success-registration-sign" *ngIf="showSuccessReg">
         Вы успешно зарегистрировались!
      </div>
   </div>
   <!-- <button>test FB shortIds</button> -->
      <!-- <button (click)="TESTFbMakeDBuser()">testDB</button>
      <button (click)="TESTgetToken()">getToken</button> -->
</div>
