

<footer id="footer">
   <div class="container">
      <div class="payment-icons"></div>
      <div class="legal-info">
         ООО «Инклюзивные технологии» |
         УНП 193604179 |
         Адрес: 220035, Республика Беларусь, ул. Грибоедова, д.40, офис 47 |
         Свидетельство о государственной регистрации № 193604179 от 08.12.2021, выдано Минским горисполкомом |
         р/с BY20ALFA30122B29860010270000 (BYN) в ЗАО «Альфа-Банк», БИК ALFABY2X |
         Режим работы 9:00 – 20:00 |
         Телефон: +375291716833 |
         e-mail: logogo.online@gmail.com
      </div>
      <div class="terms-of-use">
         <span class="terms-of-use" [routerLink]="['/terms-of-use']" >пользовательское соглашение</span>
      </div>
      <!-- <ul>
         <li class="termsOfUse"  [routerLink]="['/terms-of-use']">пользовательское соглашение</li>
         <li [routerLink]="['/terms-of-use']" fragment="requisites">реквизиты</li>
         <li [routerLink]="['/requisites']">реквизиты</li>
         <li>данные юр. лица</li>
      </ul> -->
      
   </div>
   
</footer>