
<div class="profile-menu">
   <div class="container">
      <h3>Личный кабинет</h3>
      <div class="user-type-icon" *ngIf="!production">
         Вы вошли как 
         <span *ngIf="userData.myData.userType == 'doctor'">специалист 🏥</span>
         <span *ngIf="userData.myData.userType == 'client'">клиент 🏠</span>
      </div>
      <!-- <div class="help">
         Пожалуйста дополните данные о себе в разделе 
         <span>"Редактировать личные данные"</span> 
      </div> -->
      <div class="menu-list">
         <div class="menu-item" *ngFor="let item of menuItems"  [routerLink]="['/profile', item.link]" [attr.link]='item.link' >
            
            <!-- <div class="icon-wrapper">
               <div class="icon"></div>
            </div> -->
            <div class="description">
               {{item.name}}
            </div>
         </div>
      </div>
      <div class="exit-block">
         <!-- <div class="exit-button" (click)="exitProfile()">
            <img src="./assets/icons/exit.png" alt="exit-button">
            <span class="blue">Выход</span>
         </div> -->
      </div>
   </div>
</div>