<div class="profile-menu">
   <div class="container">
      <h3>Личный кабинет</h3>
      <div class="user-type-dev user-type-icon" *ngIf="!production">
         Вы вошли как 
         <span *ngIf="userData.myData.userType == 'doctor'">специалист 🏥 {{myId | slice:0:5}} @{{userData.myData.email | slice:0:5}}..</span>
         <span *ngIf="userData.myData.userType == 'client'">клиент 🏠 {{myId | slice:0:5}} @{{userData.myData.email | slice:0:5}}..</span>
         <!-- <button (click)="emailSend()">email</button> -->
         <div class="info-block" *ngIf="userData.myData?.scheduleTime && userData.myData?.zoomLink">
            <!-- scheduleTime: {{!!userData.myData?.scheduleTime}}
            zoomLink: {{!!userData.myData?.zoomLink}} -->
            Для отображения на главной странице вам надо заполнить календарь и заполнить персональные данные (ваш zoom, специализация и т.д.)
         </div>
         <div class="test">
            <!-- {{testVar | json}} -->
            <button (click)="TESTshowMyData()">show myData</button>
         </div>
      </div>
      <div class="dev-test" *ngIf="!production">
         <button (click)="TESTsetToken()">setToken</button>
         <button (click)="TESTgetToken()">getToken</button>
         <button (click)="TESTgetData()">getData</button>
         <button (click)="TESTpatchUserData()">patchData</button>
         <button (click)="TESTmanualRESTpatchUserData()">manualRestPatchData</button>
         <button [ngClass]="{updating2: testAction}" (click)="testLoading()"  ><span data-text="загрузить">загрузить</span></button>
         {{testAction}}
      </div>
      <div class="new-user-note" *ngIf="(userData.myData.userType == 'doctor' && (!userData.myData.zoomLink || !userData.myData.scheduleTime) ) || (userData.myData.userType == 'client' && !userData.myData.clientPhone)">
         <span *ngIf="userData.myData.userType == 'doctor'">Перед приемом клиентов вам необходимо заполнить свои данные в разделе "Редактировать личные данные" и добавить рабочие часы в разделе "Календарь"</span>
         <span *ngIf="userData.myData.userType == 'client'">Перед записью к специалисту, пожалуйста заполните все необходимы данные в разделе "Редактировать личные данные"</span>
      </div>
      <!-- <div class="help">
         Пожалуйста дополните данные о себе в разделе 
         <span>"Редактировать личные данные"</span> 
      </div> -->
      <div class="menu-list">
         <div class="menu-item" *ngFor="let item of menuItems"  [routerLink]="['/profile', item.link]" [attr.link]='item.link' >
            
            <!-- <div class="icon-wrapper">
               <div class="icon"></div>
            </div> -->
            <div class="description">
               {{item.name}}
            </div>
         </div>
      </div>
      <div class="exit-block">
         <!-- <div class="exit-button" (click)="exitProfile()">
            <img src="./assets/icons/exit.png" alt="exit-button">
            <span class="blue">Выход</span>
         </div> -->
      </div>
   </div>
</div>