<div class="fixed-overlay ">
   <div class="close-popup" ></div>
   <div class="popup">

      <div class="popup-container">
         <div class="title">Подтверждение почты</div>
         <div class="description">
            <p>Для подтверждения почты мы выслали на неё письмо. Пожалуйста найдите наше письмо.</p>
         </div>
         <button class="emailVerificationButton" (click)="pageReload()">я уже подтвердил</button>
         <button class="emailVerificationButton" (click)="logOut()">выйти из аккаунта</button>
         <!-- <button (click)="manuallyCheck()">test</button> -->
      </div>
   </div>
</div>
