.popup
   min-height: 300px
   .popup-container
      margin-top: 40px
      .title
         text-align: center
         margin-top: 20px
         font-size: 22px
      p
         // text-align: center
         margin: 10px

      .emailVerificationButton
         display: block
         width: 200px
         margin: 30px auto