<div class="fb-security-popup" *ngIf="popupService.requisitesPopup" >
   <app-requisites-popup></app-requisites-popup>
</div>

<footer>
   <div class="container">
      
      <div class="entity-data">
         <div class="info-line address">
            <span class="info-title">Адрес: </span>
            <div> 220114, Республика Беларусь, г. Минск, пр. Независимости, 117, оф. 100 </div>
         </div>
         <!-- <div class="info-line requisites" (click)="popupService.toggleRequisitesPopup()">
            <span class="info-title">Реквизиты юр. лица</span>
         </div> -->
      
         <div class="info-line phone">
            <span class="info-title">Телефон: </span>
            <a href="tel:+72345678900">+72345678900</a>
         </div>
         <div class="info-line email">
            <span class="info-title">Email: </span>
            <a href="mailto:test@gmail.com">test@logogo.by</a>
         </div>
      </div>

         
      
   </div>
   
</footer>
