footer
   color: #ccc
   min-height: 150px
   padding: 20px 0
   background-color: #454A4A
   .container
      // border: 1px solid #fff
   .entity-data
      border-top: 1px solid #ccc
  
   .info-line
      margin-top: 5px
      &.requisites
         text-decoration: underline
         cursor: pointer
      .info-title
         &+div
            display: inline