@import "../../../../assets/styles/_variables"

footer
   color: #ccc
   min-height: 100px
   border-top: 1px solid #34302d38
   .container
      display: flex
      justify-content: space-between
      flex-direction: column
      font-size: 20px
      font-weight: 500
      .main-info
         display: flex
         justify-content: space-between
         color: $headings100
         padding-left: 24px
         a
            color: $headings100
         li 
            position: relative
            padding: 2px
            margin-top: 0px
            &::before
               content: ''
               position: absolute
               width: 22px
               height: 22px
               left: -24px
               background-repeat: no-repeat
               background-size: contain
               
         
      .payment-icons
         display: flex
         justify-content: space-between
         align-items: center
         width: 100%
         height: 100px
         background-size: contain
         background-repeat: no-repeat
         background-position: 50% 50%
         background-image: url('/assets/icons/interface/HORIZONTAL COLOR.png')
      .terms-of-use
         display: block
         cursor: pointer
         color: #555
         text-decoration: underline
         list-style-type: none
         text-align: center
         margin-bottom: 12px
      .legal-info
         text-align: center
         margin-bottom: 10px
               