@import '../../../../../assets/styles/_variables'   


.popup
   width: 600px
.appointment-deatails
   padding:  0 20px
   margin-top: 40px
   .details-container
      max-width: 500px
      margin: 0 auto
   label
      display: block
   h2
      position: relative
      font-size: 30px
      text-align: center
      // padding-top: -150px
      margin-top: -20px
      // &::after
      //    content: 'стоимость занятия 38 BYN'
      //    position: absolute
      //    font-size: 20px
      //    width: 100%
      //    bottom: -15px
      //    text-align-last: left
      //    left: -43%
      //    transform: translateX(50%)
         
   &>div
      margin-top: 5px
      font-size: 22px
      .date-of-lesson
         margin-right: 20px
   form
      .inputs-wrapper
         padding: 0
         margin-top: 20px
         label
            margin-top: 0
      .rules
         width: 100%
         // .price
      button
         // background-color: #44b353
            // color: #777
         // &:hover
            // background-color: #27b439