<div class="doctor-card-nav">
   <app-nav-home *ngIf="isInProfileModule + '' == 'false'"></app-nav-home>
   <app-profile-nav *ngIf="isInProfileModule + '' == 'true'"></app-profile-nav>
</div>
<div *ngIf="doctorInfo" class="doctor-card">
   <div class="container">
      <div class="user-data">
         <div class="user-image">
            <img *ngIf="doctorInfo.avatarUrl" [src]="doctorInfo.avatarUrl" alt="person photo">
            <img *ngIf="!doctorInfo.avatarUrl" [src]="defaultAvatarUrl" alt="person photo">
         </div>
         <div class="user-description">
            <div class="name"><span>{{doctorInfo.surname}} {{doctorInfo.name}} {{doctorInfo.patronymic}}</span></div>
            <div class="specializations"><span>Специализация : </span>
               <!-- {{doctorInfo.mainSpecialization | specializationsList:doctorInfo.specializations}} -->
               <ul class="specializations-list">
                  <li *ngFor="let item of doctorInfo.mainSpecialization | specializationsList:doctorInfo.specializations">
                     {{item}}
                  </li>
               </ul>
            </div>
            <div *ngIf="doctorInfo.experience"><span>Стаж (лет): </span>{{doctorInfo.experience}}</div>
            <div *ngIf="doctorInfo.university"><span>Образование: </span>{{doctorInfo.university}} {{doctorInfo.faculty}} ({{doctorInfo.year}} г.)</div>
            <div *ngIf="doctorInfo.university2 && doctorInfo.educationsCount > 1"><span>Образование 2: </span>{{doctorInfo.university2}} {{doctorInfo.faculty2}} ({{doctorInfo.year2}} г.)</div>
            <div *ngIf="doctorInfo.university2 && doctorInfo.educationsCount > 2"><span>Образование 3: </span>{{doctorInfo.university3}} {{doctorInfo.faculty3}} ({{doctorInfo.year3}} г.)</div>
         </div>
      </div>
      <div class="about-me">
         <p class="detailed-description"><span>О себе: </span>{{doctorInfo.aboutMe}}</p>
      </div>
      <app-calendar-block [inputDoctorInfo]="doctorInfo" [isCalendarPage]="false" [calendarUserId]="doctorId" [isInProfileModule]="isInProfileModule"></app-calendar-block>
   </div>
</div>