@import '../../../assets/styles/_variables'


form 
   position: relative
   // display: flex
   // flex-direction: row
   // justify-content: start
   .photo-update
      position: relative
      display: flex
      justify-content: space-around
      align-items: center
      // position: absolute
      // right: 0px
      width: 100%
      // height: 220px
      min-height: 100px
      border-radius: 20px
      margin-bottom: 32px
      padding: 10px 0
      // padding: 32px
      @include box-shadow($nav_shadow)
      // // border: 1px solid #000
      .profile-photo
         max-width: 40%
         // max-height: 100%  
         img
            // border: 3px solid #000
            // max-width: 100%
            // max-height: 100%  
            border-radius: 20px
            object-fit: contain
      .avatar-buttons-wrapper
         // border: 1px solid #000
         width: 50%
         position: relative
         // &::after
         //    content: 'добавить фото'
            // position: absolute
            // pointer-events: none
            // cursor: pointer
            // font-size: 20px
            // width: 100%
            // text-align: center
            // top: 50%
            // left: 50%
            // transform: translate3d(-50%, -50%, 0)
         .input-avatar-label
            position: relative
            width: 100%
            display: inline-block
            cursor: pointer
            .upload-avatar
               visibility: hidden
            span
               position: absolute
               pointer-events: none
               cursor: pointer
               font-size: 20px
               width: 100%
               text-align: center
               top: 50%
               left: 50%
               transform: translate3d(-50%, -50%, 0)
         .button.upload
            width: 100%
            margin-top: 20px
   textarea[name="aboutMe"]
      min-height: 180px 



   .inputs-wrapper
      position: relative
      margin: 0

.submit
   margin-top: 40px

.select-sign
   color: red
   font-size: 120%



.sertificates
   margin: 40px auto 100px
   // border-top: 2px dashed $yellow_common
   padding: 20px 0px
   width: 100%
   @include box-shadow($nav_shadow)
   border-radius: 20px
   .add-sertificates.btn
      height: 48px
   .inputs-wrapper
      box-shadow: none

   .sertif-list
      display: flex
      justify-content: space-around
      align-items: center
      flex-wrap: wrap
      width: 100%
      .sertif-item
         position: relative            
         margin: 0 5px
         cursor: pointer
         max-width: 200px
         min-width: 100px
         margin-top: 30px
         transition: 0.2s
         &:hover
            transform: scale(1.1)
            transition: 0.2s
            .sertif-img
               @include box-shadow($shadows_hover)
               transition: 0.2s
         .img-wrapper
            display: inline-block
            position: relative
            .sertif-delete
               position: absolute
               content: ''
               right: -11px
               top: -11px


         .sertif-img
            @include box-shadow($shadows)
            display: block
            // margin-top: 20px
            // max-height: 300px
            // padding: 2px
            // border: 2px solid $yellow_common
            transition: 0.2s
         .sertif-name
            display: block
            max-width: 100%
            overflow: hidden
            text-align: center
   .new-sertificates
      button.upload-sertrificates, .add-sertificates, .upload-sertrificates-disabled
         display: inline-block
      .upload-sertrificates-disabled, .upload-sertrificates
         margin-left: 10px
// @media screen and (max-width: 1300px) 
//    form
//       display: flex
//       justify-content: flex-start
//       align-items: flex-start
//       flex-direction: column
//       .photo-update
//          position: relative
         
            