// @import "../node_modules/@zoomus/websdk/dist/css/bootstrap.css"
// @import "../node_modules/@zoomus/websdk/dist/css/react-select.css"
@import "assets/styles/normlize.min"
@import "assets/styles/light-reset.min"
// @import '~swiper/swiper.min.css'
@import '~swiper/swiper-bundle.min.css'
@import "assets/styles/variables"
@import "assets/styles/forms"
@import "assets/styles/popups"

div
   &#zmmtg-root
      display: none
      z-index: 10
      // width: 50% !important
      // height: 50% !important
      // background-color: rgba(0,0,0,.2) !important
   &#aria-notify-area
      // display: none

*
   font-family: 'Montserrat', sans-serif
   font-weight: 400
   // background-color: $bg_t

body 
   position: relative




a
   color: $blue219EBC
   text-decoration: none
h1
   font-size: 36px
   font-weight: 700
h2 
   font-size: 36px
   margin-bottom: 56px
   font-weight: 700
   color: $headings100
   &.profile-in
      font-size: 24px
h3
   font-size: 20px
   font-weight: 600

app-profile-layout
   h3
      margin-bottom: 56px


.green   
   color: #3CB371
.blue
   color: $blue_common
.orange
   color: $orange_common

.error
   color: red

// .breadcrumb
//    padding: 6px 0 0 25px
//    margin-top: 30px
//    display: inline-block
//    // border: 1px solid #000
//    font-size: 12px
//    height: 26px
//    position: relative
//    cursor: pointer
//    transition: 0.2s
//    &::before
//       content: ''
//       position: absolute
//       left: 0px
//       top: 3px
//       border: 9px solid transparent
//       border-left: 0px solid transparent
//       border-right: 14px solid $blue_common
//    &:hover
//       transition: 0.2s
//       color: $blue_common
//       &::before
//          animation: test 1s 1 ease-out

.user-type-icon
   margin-top: 20px
   span
      font-weight: 500

.container
   max-width: 1210px
   padding: 0 15px
   margin: 0 auto

swiper
   .swiper-pagination-bullet
      background-color: rgba(33, 158, 188, 1)
   .swiper-button-next, .swiper-button-prev
      // top: -1px
      // width: 20px
      // height: 15px
      background-image: url('/assets/icons/functions/arrow-blue.svg')
      background-size: contain
      background-repeat: no-repeat
      &::after
         display: none
   .swiper-button-next
      transform: rotate(-90deg)
   .swiper-button-prev
      transform: rotate(90deg)
.preloader
   // border: 3px dashed #000
   display: flex
   // display: none
   justify-content: center
   align-items: center
   height: 100vh
   width: 100vw
   top: 0px
   overflow: hidden
   position: absolute
   background-color: #fff
.circle
   width: 20px
   height: 20px
   border-radius: 50%
   margin: 7px
   display: flex
   justify-content: center
   align-items: center
   // display: none
   &:before
      content: ""
      width: 20px
      height: 20px
      border-radius: 50%
      opacity: 0.7
      animation: scale 2s infinite cubic-bezier(0, 0, 0.49, 1.02)
.circle-1
  background-color: $preloader_circle-1
  &:before
    background-color: $preloader_circle-1
    animation-delay: 200ms
.circle-2
  background-color:$preloader_circle-2
  &:before
    background-color:$preloader_circle-2
    animation-delay: 400ms
.circle-3
  background-color: $preloader_circle-3
  &:before
    background-color: $preloader_circle-3
    animation-delay: 600ms
.circle-4
  background-color: $preloader_circle-4
  &:before
    background-color: $preloader_circle-4
    animation-delay: 800ms
.circle-5
  background-color: $preloader_circle-5
  &:before
    background-color: $preloader_circle-5
    animation-delay: 1000ms

@keyframes scale
   0%
      transform: scale(1)

   50%, 75%
      transform: scale(2.5)

   78%, 100%
      opacity: 0

.main
   position: relative
   // color: #fff
   section
      margin-top: 30px
      // border-bottom: 2px dashed #777
      &:nth-child(2)
         margin-top: 0px
         
   .our-specialists
      ul
         margin-left: 20px
         li 
            margin-top: 20px
            .name
               font-size: 18px
               margin-left: 20px
               font-weight: bold
   .faq
      ul li
         margin-top: 15px
         h3
            font-weight: bold
            margin-left: 40px
         .answer
            margin-left: 10px
            padding-top: 5px

.loading
   &::after
      content: ''
      position: absolute
      transition: 2s
      bottom: 0px
      background-color: rgba(251, 133, 1, 0.5)
      left: 0px
      height: 100%
      border-radius: 2px
      width:0%
      border-radius: 22px
      // border: 3px solid #000
      // animation: updating 1.5s 1 ease

button, .btn
   // background-color: $orange_common
   // color: transparent
   // background-clip: text
   // background-image: linear-gradient(to right, $text_color_purple, $text_color_blue)
   color: $text_color_mid_purple
   outline: none  
   cursor: pointer
   // padding: 0px 20px
   width-min: 140px
   padding: 0 37px 
   height: 52px
   font-size: 20px
   font-weight: 500
   transition: all 0.2s
   background-color: $orange_501
   border-radius: 30px
   color: #fff
   &:hover
      // border: 2px solid $button_hover
      background-color: $button_hover
      outline: none
      @include box-shadow($shadows_button_hover)
   &:active
      // @include box-shadow($shadows_logo_active)
      // border: 2px solid $button_active
      background-color: $button_active
      outline: none
      transition: all 0.1s
   &:focus
      outline: none
   &.updating
      &:hover
         background-color: #fff
   
@keyframes updating
   0%
      width: 15%
      background-color: rgba(251, 133, 1, 0.0)
   // 30%
   //    width: 25%
   //    background-color: rgba(251, 133, 1, 0.5)
   80%
      width: 100%
      background-color: rgba(251, 133, 1, 0.7)
   100%
      width: 100%
      background-color: rgba(251, 133, 1, 0.0)   

.breadcrumb-arrows
   padding: 20px 0
   white-space: nowrap
   user-select: none
   display: inline-block

   a
      position: relative
      font-size: 16px
      padding: 4px 30px
      color: $textBody80

      &::before
         content: ''
         position: absolute
         display: block
         width: 20px
         height: 20px
         // border: 1px solid #000
         left: 0px
         top: 50%
         // transform: translateY(-50%)
         z-index: -1
         background-image: url('/assets/icons/functions/arrow-blue.svg')
         background-repeat: no-repeat
         background-position: center
         transform: rotate(90deg) translateX(-50%)
         transition: 0.2s all
   &:hover
      a
         &::before
            left: -5px
   &:active
      a
         &::before
            left: -2px
   &~h3
      color: $orange_new
      font-size: 24px

.delete-button
   position: absolute
   width: 24px
   height: 24px
   border-radius: 8px
   // border: 1px solid #000
   background-color: #fb8601a1
   margin: 0
   padding: 10px
   color: #000
   &:hover
      transform: scale(1.05)
   &::after, &::before
      content: ''
      position: absolute
      width: 14px
      height: 2px
      background-color: $grey_45
      top: 50%
      left: 50%
      transform: translate3d(-50%, -50%, 0) rotate(45deg)
   &::after
      width: 2px
      height: 14px
         
            



      &:nth-last-of-type(1) a
         color: rgba(255, 133, 1, 0.9)

      &:nth-last-of-type(2) a
         color: rgba(255, 133, 1, 0.75)

      &:nth-last-of-type(3) a
         color: rgba(255, 133, 1, 0.6)

      &:nth-last-of-type(4) a
         color: rgba(255, 133, 1, 0.6)

.cookie_notice
   display: block
   position: fixed
   z-index: 9999999
   bottom: 0
   left: 0
   right: 0
   text-align: center
   font-size: 15px
   font-family: Verdana, sans-serif
   color: #FFF
   background: #337AB7
   padding: 10px 20px
   border-top: 4px solid #BFE2FF

   /* Оформление кнопок

.cookie_btn
   display: inline-block
   margin: 10px 6px 4px 6px
   text-decoration: none
   position: relative
   font-size: 13px
   padding: 4px 12px
   color: #FFF
   font-weight: bold
   text-transform: uppercase
   background: #337AB7
   border: 2px solid #BFE2FF

   &:hover
      color: #FFF

   &:after
      position: absolute
      height: 2px
      left: 50%
      background: #FFF
      bottom: -6px
      content: ""
      transition: all 280ms ease-in-out
      width: 0

   &:before
      position: absolute
      height: 2px
      left: 50%
      background: #FFF
      bottom: -6px
      content: ""
      transition: all 280ms ease-in-out
      width: 0
      top: -6px

   &:hover
      &:after, &:before
         width: 100%
         left: 0

.footer-spacer
   height: 150px