<div class="login-popup" *ngIf="popupService.homePageLoginPopup">
   <app-login-popup></app-login-popup>
</div>
<div class="password-recovery" *ngIf="popupService.homePagePassRecoveryPopup">
   <app-password-recovery></app-password-recovery>
</div>
<div class="fb-security-popup" *ngIf="popupService.homePageFbSecurityPopup">
   <app-fb-security-popup></app-fb-security-popup>
</div>


<app-nav-home></app-nav-home>
<div class="home-page">
   <!-- <div class="container"> -->
      <!-- <button (click)="testSignIn()">test sign in</button> -->
      <div class="promo">
         
         <div class="container">
            <!-- <slideshow [imageUrls]="testUrls"></slideshow> -->
            <div class="promo-descr">
               <p class="describe">
                  <span>Логого</span> - онлайн занятия с детьми по коррекции поведения, слуха и речи
               </p>
               <button class="sign-up">Записаться</button>
            </div>
            

            <!-- <h1 class="promo_header">
               Инклюзив - дефектологическая
               онлайн-консультация 
               &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
               в удобное для вас время
            </h1>
            <p class="promo_descr">Опытные специалисты в сфере коррекционно-развивающего обучения <br>
               и реабилитации ответят на вопросы, связанные с детским развитием <br>
               и преодолением речевых, познавательных, психо-эмоциональных <br>
               и других особенностей</p>
            <div class="button_wrapper">
               <button class="sign_up">Записаться</button>
            </div> -->
         </div>
      </div>
   
      <app-our-specialists
         [firebaseDoctors]="doctors"
         [isProfileModule]="false"
      ></app-our-specialists>

      <app-recomendation></app-recomendation>
      
      <app-job-invitation></app-job-invitation>
   
      <app-faq-new></app-faq-new>
      <app-footer-home></app-footer-home>
   <!-- </div> -->
</div>
