@import '../../assets/styles/_variables'


.home-page
   // background-image: linear-gradient(to top right, $backgroung_purple, $backgroung_light_blue)
   .promo
      height: 808px
      padding: 250px 0 74px
      background-image: url('../../assets/img/promo_bg.jpg')  
      // background-image: url('../../assets/img/promo_bg.png')
      background-repeat: no-repeat
      // background-clip: cover
      background-size: cover
      background-position: 0% 40% 

      &-descr 
         .describe
            max-width: 550px
            color: $heading
            // line-height: 55px
            font-size: 40px
            font-weight: 500
            margin-bottom: 70px
            span
               color: $orange_new
               font-size: 40px
               font-weight: 700
               line-height: 61px
         .sign-up
            width: 238px

      

   