$blue_light: #8ecae6
$blue_common: #209EBB
$blue_dark: #023047
$yellow_common: #FFB701
$orange_common: #fc8500
$button_hover: #FF9722
$orange_501: #FB8501
$button_active: #ed7f04
$orange_501_60: rgba(251, 133, 1, 0.6)
$success: #30b169
$bg_t: rgba(0,0,0,.05)
$grey: #9C9C9C
$grey_light: #afafaf
$grey_9c: #9C9C9C
$grey_45: #454A4A
$grey_E6: #E6E6E6
$grey_CA: #CACACA
$sucess: #73d673
$orange_new: #FB8501
$orange_new05: #fb860113
$heading: #34302D
$headings100: #34302D
$textBody80: #34302dd2
$blue219EBC : #219EBC
$fcfcfc: #FCFCFC
$_34302D15: #34302d3a
$form_non_selected: #34302d7c
$_4E463E02: #4e463e02
$_4E463E02: rgba(78, 70, 62, 0.02)
$_4E463E15: rgba(78, 70, 62, 0.15)
$_4E463E30: rgba(78, 70, 62, 0.3)


// new design

$backgroung_purple: #d2a5f6
$backgroung_light_blue: #98daff

$text_color_purple: #6a2e82
$text_color_blue: #364CC1
$text_color_mid_purple: #592e82

$preloader_circle-1: rgb(255, 183, 3)
$preloader_circle-2:  rgb(254, 170, 3)
$preloader_circle-3: rgb(253, 160, 2)
$preloader_circle-4: rgb(252, 145, 2)
$preloader_circle-5: rgb(251, 133, 1)

@mixin box-shadow($params) 
  -webkit-box-shadow: $params
  -moz-box-shadow: $params
  box-shadow: $params


$shadows: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23)
$shadows_button_hover: 5px 5px 40px rgba(251, 133, 1, 0.25)
$shadows_hover: 0 10px 40px rgba(0,0,0,0.35), 0 6px 20px rgba(0,0,0,0.4)
$shadows_logo: -9px -9px 15px 0px rgba(255, 255, 255, 0.5), 9px 9px 15px 0px rgba(163, 177, 198, 0.5)
$shadows_logo_active: -6px -6px 10px 0px rgba(255, 255, 255, 0.3), -6px -6px 10px 0px rgba(163, 177, 198, 0.9)
$nav_shadow: -1px -1px 12px rgba(156, 156, 156, 0.15), 1px 1px 12px rgba(156, 156, 156, 0.15)
$nav_shadow_hover: -1px -1px 16px rgba(156, 156, 156, 0.4), 1px 1px 16px rgba(156, 156, 156, 0.4)


@keyframes test
   0%
      left: 0px
   50%
      left: 10px
   100%
      opacity: 0px