<div class="img-popup" >
   <app-img-popup *ngIf="popupService.imgPopup"></app-img-popup>
</div>

<div class="doctor-card-nav">
   <app-nav-home *ngIf="isInProfileModule + '' == 'false'"></app-nav-home>
   <app-profile-nav *ngIf="isInProfileModule + '' == 'true'"></app-profile-nav>
</div>
<div class="doctor-card" *ngIf="doctorInfo" [ngClass]="{'in-profile': isInProfileModule == 'true'}">
   <div class="container">
      <div class="breadcrumb-arrows arrows">
         <a [routerLink]="['/profile']" *ngIf="isInProfileModule == 'true'">Меню</a>
         <a [routerLink]="['/']" *ngIf="isInProfileModule == 'false'">Назад</a>
      </div>
      <div class="new-user-note" *ngIf="(isInProfileModule + '' == 'true') && (userData.myData.userType == 'doctor' && (!userData.myData.zoomLink || !userData.myData.scheduleTime) ) || (userData.myData.userType == 'client' && !userData.myData.clientPhone)">
         <span *ngIf="userData.myData.userType == 'client'">Перед записью к специалисту, пожалуйста заполните все необходимы данные в разделе "Редактировать личные данные"</span>
      </div>
      <div class="user-data">
         <div class="user-image">
            <img *ngIf="doctorInfo.avatarUrl" [src]="doctorInfo.avatarUrl" alt="person photo">
            <img *ngIf="!doctorInfo.avatarUrl" [src]="defaultAvatarUrl" alt="person photo">
         </div>
         <div class="user-description-short">
            <div class="name">
               {{doctorInfo.surname}} {{doctorInfo.name}}
            </div>
            <div class="specialization">
               <span class="specialization-main">{{doctorInfo.mainSpecialization}}</span>
               <span class="experience" *ngIf="doctorInfo.experience">Опыт {{doctorInfo.experience}} (лет)</span>
               
               <!-- {{doctorInfo.mainSpecialization | specializationsList:doctorInfo.specializations}} -->
               <!-- <ul class="specializations-list">
                  <li *ngFor="let item of doctorInfo.mainSpecialization | specializationsList:doctorInfo.specializations">
                     {{item}}
                  </li>
               </ul> -->
            </div>
            <!-- <div class="about-me-short">
               {{doctorInfo.aboutMe | textCutter:80}}
            </div> -->
            <div class="prices">
               <!-- <span *ngIf="priceConfiguration">{{priceConfiguration|json}}</span> -->
               <h3>Стоимость услуг:</h3>
               Разовое занятие/консультация - 45 BYN (40 минут)
               <!-- <span *ngIf="priceConfiguration$ | async as priceConfiguration">
                  {{ priceConfiguration.oneTimeLesson }} BYN
               </span> -->

               
            </div>
            <button *ngIf="isInProfileModule == 'false'">записаться на прием</button>
            <!-- <div class="error-msg" *ngIf="helper.DEBUG && isInProfileModule && !userData?.myData?.name" style="font-weight: bold;">
               ---------------ERROR MSG----------------<br>
               isInProfileModule: {{isInProfileModule}}
            </div> -->
            <!-- <div *ngIf="doctorInfo.experience"><span>Стаж (лет): </span>{{doctorInfo.experience}}</div> -->
            <!-- <div *ngIf="doctorInfo.university"><span>Образование: </span>{{doctorInfo.university}} {{doctorInfo.faculty}} ({{doctorInfo.year}} г.)</div>
               <div *ngIf="doctorInfo.university2 && doctorInfo.educationsCount > 1"><span>Образование 2: </span>{{doctorInfo.university2}} {{doctorInfo.faculty2}} ({{doctorInfo.year2}} г.)</div>
               <div *ngIf="doctorInfo.university2 && doctorInfo.educationsCount > 2"><span>Образование 3: </span>{{doctorInfo.university3}} {{doctorInfo.faculty3}} ({{doctorInfo.year3}} г.)</div> -->
         </div>
      </div>
      <app-calendar-block [inputDoctorInfo]="doctorInfo" [doctorEventsYearMonthDayHour]="doctorEventsYearMonthDayHour" [isCalendarPage]="false" [calendarUserId]="doctorId" [isInProfileModule]="isInProfileModule"></app-calendar-block>
      <div class="education" >
         <h2 *ngIf="doctorInfo.university && doctorInfo.faculty && doctorInfo.year">Образование</h2>
         <ul class="education-list" *ngIf="doctorInfo.university && doctorInfo.faculty && doctorInfo.year">
            <li>
               <div class="years">{{doctorInfo.year}}</div>
               <div class="university">{{doctorInfo.university}}</div>
               <div class="faculty">{{doctorInfo.faculty}}</div>
            </li>
            <li *ngIf="doctorInfo.educationsCount > 1">
               <div class="years">{{doctorInfo.year2}}</div>
               <div class="university">{{doctorInfo.university2}}</div>
               <div class="faculty">{{doctorInfo.faculty2}}</div>
            </li>
            <li *ngIf="doctorInfo.educationsCount > 2">
               <div class="years">{{doctorInfo.year3}}</div>
               <div class="university">{{doctorInfo.university3}}</div>
               <div class="faculty">{{doctorInfo.faculty3}}</div>
            </li>
         </ul>
         <h2>Сертификаты</h2>
         <ul class="sertificates-list">
            <li class="sertificate-item" *ngFor="let item of doctorInfo.sertificatesLinks; index as i" (click)="popupService.showImgPopup(doctorInfo.sertificatesLinks, i)">
               <img [src]="item" alt="sertificate">
            </li>
         </ul>
         <!-- <ul class="sertif-list" *ngIf="userData.myData.sertificatesLinks">
            <li class="sertif-item" *ngFor="let item of doctorSertificates; let i = index">
               <div class="img-wrapper">{{item}}
                  <img class="sertif-img" src={{item}} alt="sertificate" (click)="popupService.showImgPopup(item, userData.myData.sertificatesNames[i])">
               </div>
            </li>
         </ul> -->
      </div>
      <div class="about">
         <h2>О специалисте</h2>
         <p class="detailed-description">{{doctorInfo.aboutMe}}</p>

      </div>
      <!-- <div class="about-me">
      </div> -->

      <!-- ?????? -->
      <!-- ?????? -->
   </div>
</div>
<app-footer-home></app-footer-home>